<template>
    <component :class="classes" :is="items.tag ? items.tag : 'div'">
        <component
            :is="items.innerTag ? items.innerTag : 'div'"
            :class="items.innerClasses"
            :disabled="!hasPrev"
            :aria-label="items.ariaPreviousLabel"
            @click.prevent="changePage(content[items.source].current - 1)">
            <span class="sr-only">Previous</span>
            <svg class="h-5 w-5" x-description="Heroicon name: solid/chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
        </component>
        <component
            v-for="(item, index) in range" 
            :key="index"
            :is="items.innerTag ? items.innerTag : 'div'"
            :class="items.innerClasses"
            :aria-label="item['aria-label']"
            :aria-current="item.isCurrent"
            @click.prevent="item.click">
            {{ item.number }}
        </component>
        <component
            :is="items.innerTag ? items.innerTag : 'div'"
            :class="items.innerClasses"
            :disabled="!hasNext"
            :aria-label="items.ariaNextLabel"
            @click.prevent="changePage(content[items.source].current + 1)">
            <span class="sr-only">Next</span>
            <svg class="h-5 w-5" x-description="Heroicon name: solid/chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
            </svg>
        </component>
    </component>
</template>

<script>
    export default {
        props: {
            record: {
                type: String,
                default: null
            },
            entity: {
                type: [Object, Array],
                default: null
            },
            attributeselection: {
                type: Array,
                default: () => []
            },
            indicator: {
                type: String,
                default: null
            },
            opts: {
                type: Object,
                default: function () { return {} }
            },
            user: {
                type: Object,
                default: function () { return {} }
            },
            body: {
                type: Object,
                default: function () { return {} }
            },
            state: {
                type: Object,
                default: function () { return {} }
            },
            settings: {
                type: Object,
                default: function () { return {} }
            },
            content: {
                type: [Object, Array],
                default: function () { return {} }
            }
        },
        data() {
            return {
                items: {}
            }
        },
        watch: {
            content: {
                handler(val){

                },
                deep: true
            },
            /**
            * If current page is trying to be greater than page count, set to last.
            */
            pageCount(value) {
                if (this.content[this.items.source].current > value) this.last()
            }
        },
        methods: {
            /**
            * Previous button click listener.
            */
            prev(event) {
                this.changePage(this.content[this.items.source].current - 1, event)
            },
            /**
            * Next button click listener.
            */
            next(event) {
                this.changePage(this.content[this.items.source].current + 1, event)
            },
            /**
            * First button click listener.
            */
            first(event) {
                this.changePage(1, event)
            },
            /**
            * Last button click listener.
            */
            last(event) {
                this.changePage(this.pageCount, event)
            },
            changePage(pageNumber, event) {
                if (this.content[this.items.source].current === pageNumber || pageNumber < 1 || pageNumber > this.pageCount) return
                this.$root.$emit('changePage', {source: this.items.source, pageNumber: pageNumber});
                // Set focus on element to keep tab order
                if (event && event.target) {
                    this.$nextTick(() => event.target.focus())
                }
            },
            getPage(num, options = {}) {
                return {
                    number: num,
                    isCurrent: this.content[this.items.source].current === num,
                    click: (event) => this.changePage(num, event),
                    disabled: options.disabled || false,
                    class: options.class || '',
                    'aria-label': options['aria-label'] || this.getAriaPageLabel(num, this.content[this.items.source].current === num)
                }
            },
            /**
            * Get text for aria-label according to page number.
            */
            getAriaPageLabel(pageNumber, isCurrent) {
                if (this.ariaPageLabel && (!isCurrent || !this.ariaCurrentLabel)) {
                    return this.ariaPageLabel + ' ' + pageNumber + '.'
                } else if (this.ariaPageLabel && isCurrent && this.ariaCurrentLabel) {
                    return this.ariaCurrentLabel + ', ' + this.ariaPageLabel + ' ' + pageNumber + '.'
                }
                return null
            }
        },
        computed: {
            computedTag() {
                return this.items.tag ? this.items.tag : 'div'
            },
            classes() {
                if (this.settings[this.items.type] && this.settings[this.items.type].length > 0) {
                    return this.settings[this.items.type];
                }
                return this.items.classes;
            },
            beforeCurrent() {
                return parseInt(this.items.rangeBefore ? this.items.rangeBefore : 1);
            },
            afterCurrent() {
                return parseInt(this.items.rangeAfter ? this.items.rangeAfter : 1);
            },
            pageCount() {
                if (this.content[this.items.source]) {
                    return Math.ceil(this.content[this.items.source].total / this.content[this.items.source].offset);
                }
            },
            /**
            * First item of the page (count).
            */
            firstItem() {
                const firstItem = this.content[this.items.source].current * this.content[this.items.source].offset - this.content[this.items.source].offset + 1;
                return firstItem >= 0 ? firstItem : 0;
            },
            /**
            * Check if previous button is available.
            */
            hasPrev() {
                return this.content[this.items.source].current > 1;
            },
            /**
            * Check if first page button should be visible.
            */
            hasFirst() {
                return this.content[this.items.source].current >= (2 + this.beforeCurrent);
            },
            /**
            * Check if first ellipsis should be visible.
            */
            hasFirstEllipsis() {
                return this.content[this.items.source].current >= (this.beforeCurrent + 4);
            },
            /**
            * Check if last page button should be visible.
            */
            hasLast() {
                return this.content[this.items.source].current <= this.pageCount - (1 + this.afterCurrent);
            },
            /**
            * Check if last ellipsis should be visible.
            */
            hasLastEllipsis() {
                return this.content[this.items.source].current < this.pageCount - (2 + this.afterCurrent);
            },
            /**
            * Check if next button is available.
            */
            hasNext() {
                return this.content[this.items.source].current < this.pageCount;
            },
            /**
            * Get near pages, 1 before and 1 after the current.
            * Also add the click event to the array.
            */
            range() {
                let left = Math.max(1, this.content[this.items.source].current - this.beforeCurrent);
                if (left - 1 === 2) {
                    left--; // Do not show the ellipsis if there is only one to hide
                }
                let right = Math.min(this.content[this.items.source].current + this.afterCurrent, this.pageCount);
                if (this.pageCount - right === 2) {
                    right++; // Do not show the ellipsis if there is only one to hide
                }
                const pages = [];
                for (let i = left; i <= right; i++) {
                    pages.push(this.getPage(i));
                }
                return pages;
            }
        },
        beforeMount: function () {
            if (this.opts != null) {
                this.items = this.opts;
            }
            if (this.items.source && this.content[this.items.source]) {

            }
        },
        mounted: function () {
        }
    }
</script>