<template>
<div>
    <div v-show="success" class="fixed inset-x-0 top-0">
        <div class="bg-green-600">
            <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between flex-wrap">
                    <div class="w-0 flex-1 flex items-center">
                        <span class="flex p-2 rounded-lg bg-green-800">
                            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </span>
                        <p class="ml-3 font-medium text-white truncate">
                            <span>
                            Payment Successful. Thank you.
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="max-w-2xl mx-auto pb-24 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="sr-only">Checkout</h2>
        <form class="lg:grid lg:grid-cols-2 lg:gap-x-12 xl:gap-x-16">
            <div>
                <div>
                    <fieldset>
                        <legend class="text-lg font-medium text-gray-900">
                        Billing frequency
                        </legend>

                        <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
                            <label :class="{'ring-2 ring-indigo-500': priceId == 'price_1KOj8qL2EQC83td8LshB4uhm'}" class="relative bg-white border rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none">
                                <input type="radio" @input="setPriceId('price_1KOj8qL2EQC83td8LshB4uhm')" name="delivery-method" value="Express" class="sr-only" aria-labelledby="delivery-method-1-label" aria-describedby="delivery-method-1-description-0 delivery-method-1-description-1">
                                <div class="flex-1 flex">
                                    <div class="flex flex-col">
                                        <span id="delivery-method-1-label" class="block text-sm font-medium text-gray-900">
                                        Team Monthly
                                        </span>
                                        <span id="delivery-method-1-description-0" class="mt-6 flex items-center text-lg text-gray-900">
                                        $33/month
                                        </span>
                                        <span id="delivery-method-1-description-1" class="mt-1 text-sm text-gray-700">
                                        $33 billed every month
                                        </span>
                                    </div>
                                </div>

                                <svg :class="{'hidden': priceId != 'price_1KOj8qL2EQC83td8LshB4uhm'}" class="h-5 w-5 text-indigo-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                </svg>
                                <div class="absolute -inset-px rounded-lg border-2 pointer-events-none" aria-hidden="true"></div>
                            </label>
                        </div>
                    </fieldset>
                </div>

                <!-- Payment -->
                <div class="mt-10 border-t border-gray-200 pt-10">
                    <h2 class="text-lg font-medium text-gray-900">Payment Info</h2>
                    <div class="mt-6 grid grid-cols-4 gap-y-6 gap-x-4">
                        <div class="col-span-4">
                            <label for="card-number" class="block text-sm font-medium text-gray-700">Credit Card:</label>
                            <div class="mt-1">
                                <div id="card-element" style="height: 40px;font-size: 14px;padding: 10px 12px;" class="mt-1 block w-full border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-gray-900 focus:border-gray-900 sm:text-sm">
                                <!-- Elements will create input elements here -->
                                </div>
                            </div>
                        </div>

                        <div class="col-span-4">
                            <label for="name-on-card" class="block text-sm font-medium text-gray-700">Name on card:</label>
                            <div class="mt-1">
                                <input type="text" id="name-on-card" name="name-on-card" autocomplete="cc-name" class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            </div>
                        </div>

                        <div class="col-span-4">
                            <label for="address" class="block text-sm font-medium text-gray-700">Address Line 1</label>
                            <div class="mt-1">
                                <input type="text" name="address" id="address" autocomplete="street-address" class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            </div>
                        </div>

                        <div class="col-span-4">
                            <label for="address" class="block text-sm font-medium text-gray-700">Address Line 2</label>
                            <div class="mt-1">
                                <input type="text" name="address" id="address" autocomplete="street-address" class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            </div>
                        </div>

                        <div class="col-span-2">
                            <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                            <div class="mt-1">
                                <input type="text" name="city" id="city" class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            </div>
                        </div>

                        <div class="col-span-2">
                            <label for="state" class="block text-sm font-medium text-gray-700">State</label>
                            <div class="mt-1">
                                <input type="text" name="state" id="state" class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            </div>
                        </div>

                        <div class="col-span-4">
                            <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
                            <div class="mt-1">
                                <select id="country" name="country" autocomplete="country" class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    <option value="" disabled="disabled" class="" selected="selected">Select a country</option>
                                    <optgroup label="Popular countries"><option label="United States" value="US">United States</option><option label="United Kingdom" value="GB">United Kingdom</option><option label="Canada" value="CA">Canada</option></optgroup>
                                    <optgroup label="All countries"><option label="Afghanistan" value="AF">Afghanistan</option><option label="Aland Islands" value="AX">Aland Islands</option><option label="Albania" value="AL">Albania</option><option label="Algeria" value="DZ">Algeria</option><option label="American Samoa" value="AS">American Samoa</option><option label="Andorra" value="AD">Andorra</option><option label="Angola" value="AO">Angola</option><option label="Anguilla" value="AI">Anguilla</option><option label="Antigua and Barbuda" value="AG">Antigua and Barbuda</option><option label="Argentina" value="AR">Argentina</option><option label="Armenia" value="AM">Armenia</option><option label="Aruba" value="AW">Aruba</option><option label="Australia" value="AU">Australia</option><option label="Austria" value="AT">Austria</option><option label="Azerbaijan" value="AZ">Azerbaijan</option><option label="Bahamas" value="BS">Bahamas</option><option label="Bahrain" value="BH">Bahrain</option><option label="Bangladesh" value="BD">Bangladesh</option><option label="Barbados" value="BB">Barbados</option><option label="Belarus" value="BY">Belarus</option><option label="Belgium" value="BE">Belgium</option><option label="Belize" value="BZ">Belize</option><option label="Benin" value="BJ">Benin</option><option label="Bermuda" value="BM">Bermuda</option><option label="Bhutan" value="BT">Bhutan</option><option label="Bolivia" value="BO">Bolivia</option><option label="Bonaire, Saint Eustatius and Saba" value="BQ">Bonaire, Saint Eustatius and Saba</option><option label="Bosnia and Herzegovina" value="BA">Bosnia and Herzegovina</option><option label="Botswana" value="BW">Botswana</option><option label="Brazil" value="BR">Brazil</option><option label="British Indian Ocean Territory" value="IO">British Indian Ocean Territory</option><option label="British Virgin Islands" value="VG">British Virgin Islands</option><option label="Brunei" value="BN">Brunei</option><option label="Bulgaria" value="BG">Bulgaria</option><option label="Burkina Faso" value="BF">Burkina Faso</option><option label="Burundi" value="BI">Burundi</option><option label="Cabo Verde" value="CV">Cabo Verde</option><option label="Cambodia" value="KH">Cambodia</option><option label="Cameroon" value="CM">Cameroon</option><option label="Canada" value="CA">Canada</option><option label="Cayman Islands" value="KY">Cayman Islands</option><option label="Central African Republic" value="CF">Central African Republic</option><option label="Chad" value="TD">Chad</option><option label="Chile" value="CL">Chile</option><option label="China" value="CN">China</option><option label="Christmas Island" value="CX">Christmas Island</option><option label="Cocos Islands" value="CC">Cocos Islands</option><option label="Colombia" value="CO">Colombia</option><option label="Comoros" value="KM">Comoros</option><option label="Cook Islands" value="CK">Cook Islands</option><option label="Costa Rica" value="CR">Costa Rica</option><option label="Croatia" value="HR">Croatia</option><option label="Cuba" value="CU">Cuba</option><option label="Curacao" value="CW">Curacao</option><option label="Cyprus" value="CY">Cyprus</option><option label="Czechia" value="CZ">Czechia</option><option label="Democratic Republic of the Congo" value="CD">Democratic Republic of the Congo</option><option label="Denmark" value="DK">Denmark</option><option label="Djibouti" value="DJ">Djibouti</option><option label="Dominica" value="DM">Dominica</option><option label="Dominican Republic" value="DO">Dominican Republic</option><option label="Ecuador" value="EC">Ecuador</option><option label="Egypt" value="EG">Egypt</option><option label="El Salvador" value="SV">El Salvador</option><option label="Equatorial Guinea" value="GQ">Equatorial Guinea</option><option label="Eritrea" value="ER">Eritrea</option><option label="Estonia" value="EE">Estonia</option><option label="Eswatini" value="SZ">Eswatini</option><option label="Ethiopia" value="ET">Ethiopia</option><option label="Falkland Islands" value="FK">Falkland Islands</option><option label="Faroe Islands" value="FO">Faroe Islands</option><option label="Fiji" value="FJ">Fiji</option><option label="Finland" value="FI">Finland</option><option label="France" value="FR">France</option><option label="French Guiana" value="GF">French Guiana</option><option label="French Polynesia" value="PF">French Polynesia</option><option label="French Southern Territories" value="TF">French Southern Territories</option><option label="Gabon" value="GA">Gabon</option><option label="Gambia" value="GM">Gambia</option><option label="Georgia" value="GE">Georgia</option><option label="Germany" value="DE">Germany</option><option label="Ghana" value="GH">Ghana</option><option label="Gibraltar" value="GI">Gibraltar</option><option label="Greece" value="GR">Greece</option><option label="Greenland" value="GL">Greenland</option><option label="Grenada" value="GD">Grenada</option><option label="Guadeloupe" value="GP">Guadeloupe</option><option label="Guam" value="GU">Guam</option><option label="Guatemala" value="GT">Guatemala</option><option label="Guernsey" value="GG">Guernsey</option><option label="Guinea" value="GN">Guinea</option><option label="Guinea-Bissau" value="GW">Guinea-Bissau</option><option label="Guyana" value="GY">Guyana</option><option label="Haiti" value="HT">Haiti</option><option label="Honduras" value="HN">Honduras</option><option label="Hong Kong" value="HK">Hong Kong</option><option label="Hungary" value="HU">Hungary</option><option label="Iceland" value="IS">Iceland</option><option label="India" value="IN">India</option><option label="Indonesia" value="ID">Indonesia</option><option label="Iran" value="IR">Iran</option><option label="Iraq" value="IQ">Iraq</option><option label="Ireland" value="IE">Ireland</option><option label="Isle of Man" value="IM">Isle of Man</option><option label="Israel" value="IL">Israel</option><option label="Italy" value="IT">Italy</option><option label="Ivory Coast" value="CI">Ivory Coast</option><option label="Jamaica" value="JM">Jamaica</option><option label="Japan" value="JP">Japan</option><option label="Jersey" value="JE">Jersey</option><option label="Jordan" value="JO">Jordan</option><option label="Kazakhstan" value="KZ">Kazakhstan</option><option label="Kenya" value="KE">Kenya</option><option label="Kiribati" value="KI">Kiribati</option><option label="Kosovo" value="XK">Kosovo</option><option label="Kuwait" value="KW">Kuwait</option><option label="Kyrgyzstan" value="KG">Kyrgyzstan</option><option label="Laos" value="LA">Laos</option><option label="Latvia" value="LV">Latvia</option><option label="Lebanon" value="LB">Lebanon</option><option label="Lesotho" value="LS">Lesotho</option><option label="Liberia" value="LR">Liberia</option><option label="Libya" value="LY">Libya</option><option label="Liechtenstein" value="LI">Liechtenstein</option><option label="Lithuania" value="LT">Lithuania</option><option label="Luxembourg" value="LU">Luxembourg</option><option label="Macao" value="MO">Macao</option><option label="Madagascar" value="MG">Madagascar</option><option label="Malawi" value="MW">Malawi</option><option label="Malaysia" value="MY">Malaysia</option><option label="Maldives" value="MV">Maldives</option><option label="Mali" value="ML">Mali</option><option label="Malta" value="MT">Malta</option><option label="Marshall Islands" value="MH">Marshall Islands</option><option label="Martinique" value="MQ">Martinique</option><option label="Mauritania" value="MR">Mauritania</option><option label="Mauritius" value="MU">Mauritius</option><option label="Mayotte" value="YT">Mayotte</option><option label="Mexico" value="MX">Mexico</option><option label="Micronesia" value="FM">Micronesia</option><option label="Moldova" value="MD">Moldova</option><option label="Monaco" value="MC">Monaco</option><option label="Mongolia" value="MN">Mongolia</option><option label="Montenegro" value="ME">Montenegro</option><option label="Montserrat" value="MS">Montserrat</option><option label="Morocco" value="MA">Morocco</option><option label="Mozambique" value="MZ">Mozambique</option><option label="Myanmar" value="MM">Myanmar</option><option label="Namibia" value="NA">Namibia</option><option label="Nauru" value="NR">Nauru</option><option label="Nepal" value="NP">Nepal</option><option label="Netherlands" value="NL">Netherlands</option><option label="New Caledonia" value="NC">New Caledonia</option><option label="New Zealand" value="NZ">New Zealand</option><option label="Nicaragua" value="NI">Nicaragua</option><option label="Niger" value="NE">Niger</option><option label="Nigeria" value="NG">Nigeria</option><option label="Niue" value="NU">Niue</option><option label="Norfolk Island" value="NF">Norfolk Island</option><option label="North Korea" value="KP">North Korea</option><option label="North Macedonia" value="MK">North Macedonia</option><option label="Northern Mariana Islands" value="MP">Northern Mariana Islands</option><option label="Norway" value="NO">Norway</option><option label="Oman" value="OM">Oman</option><option label="Pakistan" value="PK">Pakistan</option><option label="Palau" value="PW">Palau</option><option label="Palestinian Territory" value="PS">Palestinian Territory</option><option label="Panama" value="PA">Panama</option><option label="Papua New Guinea" value="PG">Papua New Guinea</option><option label="Paraguay" value="PY">Paraguay</option><option label="Peru" value="PE">Peru</option><option label="Philippines" value="PH">Philippines</option><option label="Pitcairn" value="PN">Pitcairn</option><option label="Poland" value="PL">Poland</option><option label="Portugal" value="PT">Portugal</option><option label="Puerto Rico" value="PR">Puerto Rico</option><option label="Qatar" value="QA">Qatar</option><option label="Republic of the Congo" value="CG">Republic of the Congo</option><option label="Reunion" value="RE">Reunion</option><option label="Romania" value="RO">Romania</option><option label="Russia" value="RU">Russia</option><option label="Rwanda" value="RW">Rwanda</option><option label="Saint Barthelemy" value="BL">Saint Barthelemy</option><option label="Saint Helena" value="SH">Saint Helena</option><option label="Saint Kitts and Nevis" value="KN">Saint Kitts and Nevis</option><option label="Saint Lucia" value="LC">Saint Lucia</option><option label="Saint Martin" value="MF">Saint Martin</option><option label="Saint Pierre and Miquelon" value="PM">Saint Pierre and Miquelon</option><option label="Saint Vincent and the Grenadines" value="VC">Saint Vincent and the Grenadines</option><option label="Samoa" value="WS">Samoa</option><option label="San Marino" value="SM">San Marino</option><option label="Sao Tome and Principe" value="ST">Sao Tome and Principe</option><option label="Saudi Arabia" value="SA">Saudi Arabia</option><option label="Senegal" value="SN">Senegal</option><option label="Serbia" value="RS">Serbia</option><option label="Seychelles" value="SC">Seychelles</option><option label="Sierra Leone" value="SL">Sierra Leone</option><option label="Singapore" value="SG">Singapore</option><option label="Sint Maarten" value="SX">Sint Maarten</option><option label="Slovakia" value="SK">Slovakia</option><option label="Slovenia" value="SI">Slovenia</option><option label="Solomon Islands" value="SB">Solomon Islands</option><option label="Somalia" value="SO">Somalia</option><option label="South Africa" value="ZA">South Africa</option><option label="South Georgia and the South Sandwich Islands" value="GS">South Georgia and the South Sandwich Islands</option><option label="South Korea" value="KR">South Korea</option><option label="South Sudan" value="SS">South Sudan</option><option label="Spain" value="ES">Spain</option><option label="Sri Lanka" value="LK">Sri Lanka</option><option label="Sudan" value="SD">Sudan</option><option label="Suriname" value="SR">Suriname</option><option label="Svalbard and Jan Mayen" value="SJ">Svalbard and Jan Mayen</option><option label="Sweden" value="SE">Sweden</option><option label="Switzerland" value="CH">Switzerland</option><option label="Syria" value="SY">Syria</option><option label="Taiwan" value="TW">Taiwan</option><option label="Tajikistan" value="TJ">Tajikistan</option><option label="Tanzania" value="TZ">Tanzania</option><option label="Thailand" value="TH">Thailand</option><option label="Timor Leste" value="TL">Timor Leste</option><option label="Togo" value="TG">Togo</option><option label="Tokelau" value="TK">Tokelau</option><option label="Tonga" value="TO">Tonga</option><option label="Trinidad and Tobago" value="TT">Trinidad and Tobago</option><option label="Tunisia" value="TN">Tunisia</option><option label="Turkey" value="TR">Turkey</option><option label="Turkmenistan" value="TM">Turkmenistan</option><option label="Turks and Caicos Islands" value="TC">Turks and Caicos Islands</option><option label="Tuvalu" value="TV">Tuvalu</option><option label="U.S. Virgin Islands" value="VI">U.S. Virgin Islands</option><option label="Uganda" value="UG">Uganda</option><option label="Ukraine" value="UA">Ukraine</option><option label="United Arab Emirates" value="AE">United Arab Emirates</option><option label="United Kingdom" value="GB">United Kingdom</option><option label="United States" value="US">United States</option><option label="United States Minor Outlying Islands" value="UM">United States Minor Outlying Islands</option><option label="Uruguay" value="UY">Uruguay</option><option label="Uzbekistan" value="UZ">Uzbekistan</option><option label="Vanuatu" value="VU">Vanuatu</option><option label="Vatican" value="VA">Vatican</option><option label="Venezuela" value="VE">Venezuela</option><option label="Vietnam" value="VN">Vietnam</option><option label="Wallis and Futuna" value="WF">Wallis and Futuna</option><option label="Western Sahara" value="EH">Western Sahara</option><option label="Yemen" value="YE">Yemen</option><option label="Zambia" value="ZM">Zambia</option><option label="Zimbabwe" value="ZW">Zimbabwe</option></optgroup>
                                </select>
                            </div>
                        </div>
                        <div id="card-errors" role="alert"></div>
                    </div>
                </div>
            </div>

            <!-- Order summary -->
            <div class="mt-10 lg:mt-0">
                <h2 class="text-lg font-medium text-gray-900">Order summary</h2>
                <div class="mt-4 bg-white border border-gray-200 rounded-lg shadow-sm">

                    <dl class="border-t border-gray-200 py-6 px-4 space-y-6 sm:px-6">
                        <div class="flex items-center justify-between">
                            <dt class="text-sm">
                                Plan:
                            </dt>
                            <dd class="text-sm font-medium text-gray-900">
                                {{ prices[priceId] }}
                            </dd>
                        </div>

                        <div class="flex items-center justify-between border-t border-gray-200 pt-6">
                        <dt class="text-base font-medium">
                            Total due today
                        </dt>
                        <dd class="text-base font-medium text-gray-900">
                            {{ prices[priceId] }}
                        </dd>
                        </div>
                    </dl>

                    <div class="border-t border-gray-200 py-6 px-4 sm:px-6">
                        <button @click.prevent="subscribe" type="submit" class="w-full bg-indigo-600 border border-transparent rounded-md shadow-sm py-3 px-4 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500">
                            Pay {{ prices[priceId] }} now
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</template>

<script>
    const stripe = typeof Stripe == 'function' && window.App.stripepublic ? Stripe(window.App.stripepublic) : null;
    const elements = typeof Stripe == 'function' && window.App.stripepublic ? stripe.elements() : null;
    export default {
            props: ['opts', 'clientsecret', 'selection', 'debug', 'settings'],
            data() {
                return {
                    name: '',
                    price: '',
                    now: new Date(),
                    term: 'annual',
                    pricesTestMode: {
                        'price_1IaLQUL2EQC83td8gdQmNoXD': '$348',
                        'price_1IaMevL2EQC83td8jkSvNInn': '$33'

                    },
                    prices: {
                        'price_1KOj8qL2EQC83td8LshB4uhm': '$33'

                    },
                    today: null,
                    success: false,
                    nextMonth: null,
                    isLoading: false,
                    user: window.App.user,
                    cardHolderName: '',
                    paymentMethod: '',
                    stripeForm: null,
                    csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                    cardElement: null,
                    priceId: 'price_1KOj8qL2EQC83td8LshB4uhm',
                    style: {
                        base: {
                            color: "#32325d",
                            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                            fontSmoothing: "antialiased",
                            fontSize: "16px",
                            "::placeholder": {
                                color: "#aab7c4"
                            }
                        },
                        invalid: {
                            color: "#fa755a",
                            iconColor: "#fa755a"
                        }
                    }
                }
            },
            methods: {
                toggleTerm() {
                    this.term = this.term == 'annual' ? 'monthly' : 'annual';
                },
                setPriceId(priceId) {
                    this.priceId = priceId;
                },
                cancelSubscription() {
                    return fetch('/cancel-subscription', {
                        method: 'post',
                        headers: {
                        'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            user: this.user,
                        }),
                    })
                    .then((response) => {
                        return response.json();
                    })
                    .then((cancelSubscriptionResponse) => {
                        window.location.href = "/account";
                        return subscriptionCancelled(cancelSubscriptionResponse);
                    });
                },
                subscribe() {
                    if (!this.priceId) {
                        this.showCardError({error: {message: 'Please choose a plan.'}})
                        return;
                    }
                    this.createPaymentMethod();
                },
                showCardError(event) {
                    const cardErrors = document.getElementById('card-errors');
                    if (event.error) {
                        cardErrors.classList.add('visible');
                        this.displayError.textContent = event.error.message;
                    } else {
                        cardErrors.classList.remove('visible');
                        this.displayError.textContent = '';
                    }
                },
                createPaymentMethod() {
                    return stripe
                    .createPaymentMethod({
                        type: 'card',
                        card: this.cardElement,
                    })
                    .then((result) => {
                        if (result.error) {
                            this.showCardError(result);
                        } else {
                            this.createSubscription({
                                customerId: this.user.stripe_id,
                                paymentMethodId: result.paymentMethod.id,
                                priceId: this.priceId,
                            });
                        }
                    });
                },
                createSubscription({ customerId, paymentMethodId, priceId }) {
                    return (
                        fetch('/create-subscription', {
                            method: 'post',
                            headers: {
                                'Content-type': 'application/json',
                            },
                            body: JSON.stringify({
                                customerId: customerId,
                                paymentMethodId: paymentMethodId,
                                priceId: priceId,
                            }),
                        })
                        .then((response) => {
                            return response.json();
                        })
                        // If the card is declined, display an error to the user.
                        .then((result) => {
                            if (result.error) {
                            // The card had an error when trying to attach it to a customer
                            throw result;
                            }
                            return result;
                        })
                        // Normalize the result to contain the object returned
                        // by Stripe. Add the addional details we need.
                        //.then((result) => {
                        //    console.log(result)
                        //    return {
                            // Use the Stripe 'object' property on the
                            // returned result to understand what object is returned.
                        //        subscription: result,
                        //        paymentMethodId: paymentMethodId,
                        //        priceId: priceId,
                        //    };
                        //})
                        // Some payment methods require a customer to do additional
                        // authentication with their financial institution.
                        // Eg: 2FA for cards.
                        //.then(this.handlePaymentThatRequiresCustomerAction)
                        // If attaching this card to a Customer object succeeds,
                        // but attempts to charge the customer fail. You will
                        // get a requires_payment_method error.
                        //.then(this.handleRequiresPaymentMethod)
                        // No more actions required. Provision your service for the user.
                        .then(this.onSubscriptionComplete)
                        .catch((error) => {
                            // An error has happened. Display the failure to the user here.
                            // We utilize the HTML element we created.
                            this.showCardError(error);
                        })
                    );
                },
                handlePaymentThatRequiresCustomerAction({subscription, invoice, priceId, paymentMethodId, isRetry}) {
                    if (subscription && subscription.status === 'active') {
                        // subscription is active, no customer actions required.
                        return { subscription, priceId, paymentMethodId };
                    }

                    // If it's a first payment attempt, the payment intent is on the subscription latest invoice.
                    // If it's a retry, the payment intent will be on the invoice itself.
                    let paymentIntent = invoice
                        ? invoice.payment_intent
                        : subscription.latest_invoice.payment_intent;

                    if (
                        paymentIntent.status === 'requires_action' ||
                        (isRetry === true && paymentIntent.status === 'requires_payment_method')
                    ) {
                        return stripe
                        .confirmCardPayment(paymentIntent.client_secret, {
                            payment_method: paymentMethodId,
                        })
                        .then((result) => {
                            if (result.error) {
                            // start code flow to handle updating the payment details
                            // Display error message in your UI.
                            // The card was declined (i.e. insufficient funds, card has expired, etc)
                            throw result;
                            } else {
                            if (result.paymentIntent.status === 'succeeded') {
                                // There's a risk of the customer closing the window before callback
                                // execution. To handle this case, set up a webhook endpoint and
                                // listen to invoice.paid. This webhook endpoint returns an Invoice.
                                return {
                                priceId: priceId,
                                subscription: subscription,
                                invoice: invoice,
                                paymentMethodId: paymentMethodId,
                                };
                            }
                            }
                        });
                    } else {
                        // No customer action needed
                        return { subscription, priceId, paymentMethodId };
                    }
                },
                handleRequiresPaymentMethod({subscription, paymentMethodId, priceId}) {
                    if (subscription.status === 'active') {
                        // subscription is active, no customer actions required.
                        return { subscription, priceId, paymentMethodId };
                    } else if (
                        subscription.latest_invoice.payment_intent.status ===
                        'requires_payment_method'
                    ) {
                        // Using localStorage to store the state of the retry here
                        // (feel free to replace with what you prefer)
                        // Store the latest invoice ID and status
                        localStorage.setItem('latestInvoiceId', subscription.latest_invoice.id);
                        localStorage.setItem(
                        'latestInvoicePaymentIntentStatus',
                        subscription.latest_invoice.payment_intent.status
                        );
                        throw { error: { message: 'Your card was declined.' } };
                    } else {
                        return { subscription, priceId, paymentMethodId };
                    }
                },
                onSubscriptionComplete(result) {
                    console.log('onSubscriptionComplete', result, result.stripe_status, result.subscription, result.stripe_status === 'active');
                    // Payment was successful. Provision access to your service.
                    // Remove invoice from localstorage because payment is now complete.
                    this.clearCache();
                    // Change your UI to show a success message to your customer.
                    if (result.stripe_status === 'active') {
                        this.success = true;
                        window.location.href = '/control';
                    }
                    // Call your backend to grant access to your service based on
                    // the product your customer subscribed to.
                    // Get the product by using result.subscription.price.product
                },
                activateService(result) {
                    
                },
                clearCache() {
                    localStorage.clear();
                }
            },
            beforeMount() {
                if (typeof this.user != 'undefined' && this.user.name) {
                    this.name = this.user.name;
                }
                this.today = new Date().toLocaleDateString('en-GB', {day: 'numeric', month: 'short', year: 'numeric'});
                this.nextMonth = new Date(this.now.setMonth(this.now.getMonth() + 1, 1)).toLocaleDateString('en-GB', {day: 'numeric', month: 'short', year: 'numeric'});
            },
            mounted() {
                if (true || this.settings.locked && elements != null) {
                    this.cardElement = elements.create('card', this.style);
                    this.cardElement.mount('#card-element');
                    this.stripeForm = document.getElementById("stripe-form");
                    this.displayError = document.getElementById('card-errors');
                    this.cardElement.on('focus', function () {
                        this.displayError.classList.add('focused');
                    }.bind(this));

                    this.cardElement.on('blur', function () {
                        this.displayError.classList.remove('focused');
                    }.bind(this));
                    this.cardElement.on('change', this.showCardError);
                    
                }
            }
        }
</script>

<style>
#card-errors {
  display: inline-flex;
  height: 20px;
  margin: 15px auto 0;
  padding-left: 20px;
  color: #e25950;
  opacity: 0;
  transform: translateY(10px);
  transition-property: opacity, transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  background: url('https://raw.githubusercontent.com/stripe/stripe-payments-demo/cdcacd4b6199fda135b74bfefc75dcc2b07f7e65/public/images/error.svg') center left no-repeat;
  background-size: 15px 15px;
}

#card-errors.visible {
  opacity: 1;
  transform: none;
}
</style>