<template>
    <section aria-labelledby="payment_details_heading">
        <div class="sm:overflow-hidden">
            <div class="bg-white sm:px-6">
                <div>
                    <div class="space-y-3">
                        <div v-show="showMessage" class="rounded-md bg-green-50 p-4">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                </svg>
                                </div>
                                <div class="ml-3">
                                <p class="text-sm font-medium text-green-800">
                                    Your card has been updated.
                                </p>
                                </div>
                                <div class="ml-auto pl-3">
                                <div class="-mx-1.5 -my-1.5">
                                </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a id="card"></a>
                            <h2 class="text-lg leading-6 font-medium text-gray-900">
                                Manage Card Details
                            </h2>
                            <p v-if="user.card_last_four" id="payment_details_heading" class="text-sm leading-6 font-medium text-gray-900">
                                Update or change your existing credit card <span class="text-grey-300">({{ user.card_last_four }})</span>
                            </p>
                            <p v-else id="payment_details_heading" class="text-sm leading-6 font-medium text-gray-900">
                                Add a credit card
                            </p>
                        </div>
                        <div id="card-element" style="height: 40px;font-size: 14px;padding: 10px 12px;" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-gray-900 focus:border-gray-900 sm:text-sm">
                        <!-- Elements will create input elements here -->
                        </div>
                    <!-- We'll put the error messages in this element -->
                        <div id="card-errors" role="alert"></div>
                    </div>
                </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                <button @click.prevent="remove" type="button" class="bg-gray-800 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900">
                    Remove Card
                </button>
                <button @click.prevent="update" type="button" class="bg-gray-800 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900">
                    Save Card
                </button>
            </div>
        </div>
    </section>
</template>

<script>
    const stripe = typeof Stripe == 'function' && window.App.stripepublic ? Stripe(window.App.stripepublic) : null;
    const elements = typeof Stripe == 'function' && window.App.stripepublic ? stripe.elements() : null;
    export default {
            props: ['opts', 'clientsecret', 'selection', 'debug', 'settings'],
            data() {
                return {
                    showMessage: false,
                    user: window.App.user,
                    cardHolderName: '',
                    paymentMethod: '',
                    stripeForm: null,
                    csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                    cardElement: null,
                    style: {
                        base: {
                            color: "#32325d",
                            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                            fontSmoothing: "antialiased",
                            fontSize: "16px",
                            "::placeholder": {
                                color: "#aab7c4"
                            }
                        },
                        invalid: {
                            color: "#fa755a",
                            iconColor: "#fa755a"
                        }
                    }
                }
            },
            methods: {
                remove() {
                    fetch('/remove-card', {
                        method: 'post',
                        headers: {
                            'Content-type': 'application/json',
                        }
                    })
                    .then((response) => {
                        window.location.href = "/account";
                    })
                },
                update() {
                    this.createPaymentMethod();
                },
                showCardError(event) {
                    const cardErrors = document.getElementById('card-errors');
                    if (event.error) {
                        cardErrors.classList.add('visible');
                        this.displayError.textContent = event.error.message;
                    } else {
                        cardErrors.classList.remove('visible');
                        this.displayError.textContent = '';
                    }
                },
                createPaymentMethod() {
                    return stripe
                    .createPaymentMethod({
                        type: 'card',
                        card: this.cardElement,
                    })
                    .then((result) => {
                        if (result.error) {
                            this.showCardError(result);
                        } else {
                            this.updateCard({
                                customerId: this.user.stripe_id,
                                paymentMethodId: result.paymentMethod.id
                            });
                        }
                    });
                },
                updateCard({ customerId, paymentMethodId }) {
                    return (
                        fetch('/update-card', {
                            method: 'post',
                            headers: {
                                'Content-type': 'application/json',
                            },
                            body: JSON.stringify({
                                customerId: customerId,
                                paymentMethodId: paymentMethodId
                            }),
                        })
                        .then((response) => {
                            window.location.href = "/account";
                        })
                        // If the card is declined, display an error to the user.
                        .then((result) => {
                            if (result.error) {
                            // The card had an error when trying to attach it to a customer
                            throw result;
                            }
                            return result;
                        })
                        // Normalize the result to contain the object returned
                        // by Stripe. Add the addional details we need.
                        //.then((result) => {
                        //    console.log(result)
                        //    return {
                            // Use the Stripe 'object' property on the
                            // returned result to understand what object is returned.
                        //        subscription: result,
                        //        paymentMethodId: paymentMethodId,
                        //        priceId: priceId,
                        //    };
                        //})
                        // Some payment methods require a customer to do additional
                        // authentication with their financial institution.
                        // Eg: 2FA for cards.
                        //.then(this.handlePaymentThatRequiresCustomerAction)
                        // If attaching this card to a Customer object succeeds,
                        // but attempts to charge the customer fail. You will
                        // get a requires_payment_method error.
                        //.then(this.handleRequiresPaymentMethod)
                        // No more actions required. Provision your service for the user.
                        .then(this.onUpdateComplete)
                        .catch((error) => {
                            // An error has happened. Display the failure to the user here.
                            // We utilize the HTML element we created.
                            this.showCardError(error);
                        })
                    );
                },
                onUpdateComplete() {
                    this.showMessage = true;
                    return;
                },
                handlePaymentThatRequiresCustomerAction({subscription, invoice, priceId, paymentMethodId, isRetry}) {
                    if (subscription && subscription.status === 'active') {
                        // subscription is active, no customer actions required.
                        return { subscription, priceId, paymentMethodId };
                    }

                    // If it's a first payment attempt, the payment intent is on the subscription latest invoice.
                    // If it's a retry, the payment intent will be on the invoice itself.
                    let paymentIntent = invoice
                        ? invoice.payment_intent
                        : subscription.latest_invoice.payment_intent;

                    if (
                        paymentIntent.status === 'requires_action' ||
                        (isRetry === true && paymentIntent.status === 'requires_payment_method')
                    ) {
                        return stripe
                        .confirmCardPayment(paymentIntent.client_secret, {
                            payment_method: paymentMethodId,
                        })
                        .then((result) => {
                            if (result.error) {
                            // start code flow to handle updating the payment details
                            // Display error message in your UI.
                            // The card was declined (i.e. insufficient funds, card has expired, etc)
                            throw result;
                            } else {
                            if (result.paymentIntent.status === 'succeeded') {
                                // There's a risk of the customer closing the window before callback
                                // execution. To handle this case, set up a webhook endpoint and
                                // listen to invoice.paid. This webhook endpoint returns an Invoice.
                                return {
                                priceId: priceId,
                                subscription: subscription,
                                invoice: invoice,
                                paymentMethodId: paymentMethodId,
                                };
                            }
                            }
                        });
                    } else {
                        // No customer action needed
                        return { subscription, priceId, paymentMethodId };
                    }
                },
                handleRequiresPaymentMethod({subscription, paymentMethodId, priceId}) {
                    if (subscription.status === 'active') {
                        // subscription is active, no customer actions required.
                        return { subscription, priceId, paymentMethodId };
                    } else if (
                        subscription.latest_invoice.payment_intent.status ===
                        'requires_payment_method'
                    ) {
                        // Using localStorage to store the state of the retry here
                        // (feel free to replace with what you prefer)
                        // Store the latest invoice ID and status
                        localStorage.setItem('latestInvoiceId', subscription.latest_invoice.id);
                        localStorage.setItem(
                        'latestInvoicePaymentIntentStatus',
                        subscription.latest_invoice.payment_intent.status
                        );
                        throw { error: { message: 'Your card was declined.' } };
                    } else {
                        return { subscription, priceId, paymentMethodId };
                    }
                },
                onSubscriptionComplete(result) {
                    //console.log('onSubscriptionComplete', result);
                    // Payment was successful. Provision access to your service.
                    // Remove invoice from localstorage because payment is now complete.
                    this.clearCache();
                    // Change your UI to show a success message to your customer.
                    if (true || result.status === 'active') {
                        this.cardUpdated(result);
                    }
                    // Call your backend to grant access to your service based on
                    // the product your customer subscribed to.
                    // Get the product by using result.subscription.price.product
                },
                cardUpdated(result) {
                    fetch('/card-updated', {
                        method: 'post',
                        headers: {
                            'Content-type': 'application/json',
                        },
                        body: JSON.stringify(result),
                    })
                    .then((response) => response.text()) //or response.json()
                    .then((text) => {
                        window.location.href = "/account";
                    });
                }
            },
            mounted() {
                if (true || this.settings.locked && elements != null) {
                    this.cardElement = elements.create('card', this.style);
                    this.cardElement.mount('#card-element');
                    this.stripeForm = document.getElementById("stripe-form");
                    this.displayError = document.getElementById('card-errors');
                    this.cardElement.on('focus', function () {
                        this.displayError.classList.add('focused');
                    }.bind(this));

                    this.cardElement.on('blur', function () {
                        this.displayError.classList.remove('focused');
                    }.bind(this));
                    this.cardElement.on('change', this.showCardError);
                    
                }
            }
        }
</script>

<style>
#card-errors {
  display: inline-flex;
  height: 20px;
  margin: 15px auto 0;
  padding-left: 20px;
  color: #e25950;
  opacity: 0;
  transform: translateY(10px);
  transition-property: opacity, transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  background: url('https://raw.githubusercontent.com/stripe/stripe-payments-demo/cdcacd4b6199fda135b74bfefc75dcc2b07f7e65/public/images/error.svg') center left no-repeat;
  background-size: 15px 15px;
}

#card-errors.visible {
  opacity: 1;
  transform: none;
}
</style>