<template>
    <component
        :style="[styles]"
        :class="classes"
        :is="computedTag"
        :src="this.$store.state.content[uuid].src" 
        :width="this.$store.state.content[uuid].width" 
        :height="this.$store.state.content[uuid].height"
        :frameborder="this.$store.state.content[uuid].frameborder" 
        :allowtransparency="this.$store.state.content[uuid].allowtransparency"
        :allowpaymentrequest="this.$store.state.content[uuid].allowpaymentrequest" 
        :referrerpolicy="this.$store.state.content[uuid].referrerpolicy"
        :allow="this.$store.state.content[uuid].allow ? this.$store.state.content[uuid].allow : 'encrypted-media'">
    </component>
</template>

<script>
    export default {
        props: {
            uuid: {
                type: String,
                default: null
            },
            source: {
                type: String,
                default: null
            },
            record: {
                type: String,
                default: null
            }
        },
        computed: {
            computedTag() {
                return this.$store.state.content[this.uuid].tag ? this.$store.state.content[this.uuid].tag : 'div'
            },
            classes() {
                return this.$store.state.content[this.uuid].classes;
            },
            styles() {
                return {
                    minHeight: this.$store.state.content[this.uuid].minHeight + (this.$store.state.content[this.uuid].minHeightUnit ? this.$store.state.content[this.uuid].minHeightUnit : 'px'),
                    minWidth: this.$store.state.content[this.uuid].minWidth + (this.$store.state.content[this.uuid].minWidthUnit ? this.$store.state.content[this.uuid].minWidthUnit : 'px'),
                    height: this.$store.state.content[this.uuid].height + (this.$store.state.content[this.uuid].heightUnit ? this.$store.state.content[this.uuid].heightUnit : 'px'),
                    width: this.$store.state.content[this.uuid].width + (this.$store.state.content[this.uuid].widthUnit ? this.$store.state.content[this.uuid].widthUnit : 'px')
                }
            }
        }
    }
</script>
