<template>
    <div class="klarna-instant has-text-centered">
        <klarna-instant-shopping data-instance-id="button-123abc456" />
    </div>
</template>

<script>
    export default {
        props: ['opts'],
        data() {
            return {
                items: {}
            }
        },
        beforeMount: function () {
            if (this.opts != null) {
                this.items = this.opts;
            }
        }
    }
</script>

<style scoped>
iframe#klarna-instant-shopping-button-button-123abc456{
    width: 100%;
}
.klarna-instant {
    height: 51px;
    transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s, color 0.2s ease 0s;
    background-color:rgb(255,179,199);
}
.klarna-instant:hover {
    background-color:rgb(240,165,183);
}
</style>
