<template>
    <div id="my-checkout-container"></div>
</template>

<script>
    export default {
        props: ['opts', 'basket'],
        data() {
            return {
                items: {},
                snippet: null,
                basketCounts: {}
            }
        },
        methods: {
            calculateBasketCounts() {
                if (this.basket && this.basket.length) {
                    this.basketCounts = {};
                    for (var i = 0; i < this.basket.length; i++){
                        if (typeof this.basketCounts[this.basket[i]] == 'undefined') {
                            this.basketCounts[this.basket[i]] = 0;
                        }
                        this.basketCounts[this.basket[i]] += 1;
                    }
                }
            }
        },
        beforeMount: function () {
            if (this.opts != null) {
                this.items = this.opts;
            }
        },
        mounted() {
            this.calculateBasketCounts();
            this.$http.post(
                '/klarna-checkout', 
                this.basketCounts,
                {
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }
            ).then(response => {
                //console.log(response.data)
                //this.$set(this, 'snippet', response.data)
                var checkoutContainer = document.getElementById('my-checkout-container')
                checkoutContainer.innerHTML = response.data;
                var scriptsTags = checkoutContainer.getElementsByTagName('script')
                // This is necessary otherwise the scripts tags are not going to be evaluated
                for (var i = 0; i < scriptsTags.length; i++) {
                    var parentNode = scriptsTags[i].parentNode
                    var newScriptTag = document.createElement('script')
                    newScriptTag.type = 'text/javascript'
                    newScriptTag.text = scriptsTags[i].text
                    parentNode.removeChild(scriptsTags[i])
                    parentNode.appendChild(newScriptTag)
                }
            }).catch((error) => {
                throw error
            });
        }
    }
</script>
