<template>
    <component
        v-if="this.$store.state.content[this.uuid].targetStore"
        v-show="visible"
        :is="computedTag"
        :style="styles"
        :ref="this.$store.state.content[this.uuid].ref"
        :src="this.$store.state.content[this.uuid].srcField ? this.$store.state[this.$store.state.content[this.uuid].targetStore][this.$store.state.content[this.uuid].srcField] : this.$store.state.content[this.uuid].src"
        :class="[classes, this.$store.state.content[record] && this.$store.state.content[this.uuid].classField ? this.$store.state.content[record][this.$store.state.content[this.uuid].classField] : null, {'border border-red-400': typeof this.$store.state.editor != 'undefined' && this.$store.state.editor.currentIndicator == this.$store.state.content[this.uuid].slug}]"
        >
            {{ this.$store.state.content[this.uuid].targetStore && this.$store.state.content[this.uuid].targetName ?  this.$store.state[this.$store.state.content[this.uuid].targetStore][this.$store.state.content[this.uuid].targetName] : '' }}
            <component
                v-for="(uuid, index) in this.$store.state.content[this.uuid].data" 
                :key="index"
                :source="source"
                :record="record"
                :is="this.$store.state.content[uuid].type"
                :uuid="uuid">
            </component>
    </component>
    <component
        v-else
        v-show="visible"
        :is="computedTag"
        :style="styles"
        :ref="this.$store.state.content[this.uuid].ref"
        :name="record && this.$store.state.content[this.uuid].nameField ? this.$store.state.content[record][this.$store.state.content[this.uuid].nameField] : this.$store.state.content[this.uuid].name"
        :value="record && this.$store.state.content[this.uuid].valueField ? this.$store.state.content[record][this.$store.state.content[this.uuid].valueField] : this.$store.state.content[this.uuid].value"
        :selected="record && this.$store.state.content[this.uuid].selectedField ? this.$store.state.content[record][this.$store.state.content[this.uuid].selectedField] : this.$store.state.content[this.uuid].selected"
        :disabled="record && this.$store.state.content[this.uuid].disabledField ? this.$store.state.content[record][this.$store.state.content[this.uuid].disabledField] : this.$store.state.content[this.uuid].disabled"
        :src="record && this.$store.state.content[this.uuid].srcField ? this.$store.state.content[record][this.$store.state.content[this.uuid].srcField] : this.$store.state.content[this.uuid].src"
        :width="record && this.$store.state.content[this.uuid].widthField ? this.$store.state.content[record][this.$store.state.content[this.uuid].widthField] : this.$store.state.content[this.uuid].width"
        :for="record && this.$store.state.content[this.uuid].forField ? this.$store.state.content[record][this.$store.state.content[this.uuid].forField] : this.$store.state.content[this.uuid].for"
        :label="record && this.$store.state.content[this.uuid].labelField ? this.$store.state.content[record][this.$store.state.content[this.uuid].labelField] : this.$store.state.content[this.uuid].label"
        :id="record && this.$store.state.content[this.uuid].idField ? this.$store.state.content[record][this.$store.state.content[this.uuid].idField] : this.$store.state.content[this.uuid].id"
        :alt="record && this.$store.state.content[this.uuid].altField ? this.$store.state.content[record][this.$store.state.content[this.uuid].altField] : this.$store.state.content[this.uuid].alt"
        :download="record && this.$store.state.content[this.uuid].downloadField ? this.$store.state.content[record][this.$store.state.content[this.uuid].downloadField] : this.$store.state.content[this.uuid].download"
        :referrerpolicy="record && this.$store.state.content[this.uuid].referrerpolicyField ? this.$store.state.content[record][this.$store.state.content[this.uuid].referrerpolicyField] : this.$store.state.content[this.uuid].referrerpolicy"
        :type="record && this.$store.state.content[this.uuid].subtypeField ? this.$store.state.content[record][this.$store.state.content[this.uuid].subtypeField] : this.$store.state.content[this.uuid].subtype"
        :href="record && this.$store.state.content[this.uuid].hrefField ? this.$store.state.content[record][this.$store.state.content[this.uuid].hrefField] + (this.$store.state.content[this.uuid].query ? this.$store.state.content[this.uuid].query : '') : this.$store.state.content[this.uuid].href"
        :rel="record && this.$store.state.content[this.uuid].relField ? this.$store.state.content[record][this.$store.state.content[this.uuid].relField] : this.$store.state.content[this.uuid].rel"
        :target="record && this.$store.state.content[this.uuid].targetField ? this.$store.state.content[record][this.$store.state.content[this.uuid].targetField] : this.$store.state.content[this.uuid].target"
        :title="record && this.$store.state.content[this.uuid].titleField ? this.$store.state.content[record][this.$store.state.content[this.uuid].titleField] : this.$store.state.content[this.uuid].title"
        :class="[classes, this.$store.state.content[record] && this.$store.state.content[this.uuid].classField ? this.$store.state.content[record][this.$store.state.content[this.uuid].classField] : null, {'border border-red-400': typeof this.$store.state.editor != 'undefined' && this.$store.state.editor.currentIndicator == this.$store.state.content[this.uuid].slug}]">
            {{ record && typeof this.$store.state.content[this.uuid].field != 'undefined' ? this.$store.state.content[record][this.$store.state.content[this.uuid].field] : '' }}
            {{ this.$store.state.content[this.uuid].target && this.$store.state.content[this.uuid].targetStore && this.$store.state.content[this.uuid].targetName ? this.$store.state[this.$store.state.content[this.uuid].targetStore][this.$store.state.content[this.uuid].target][this.$store.state.content[this.uuid].targetName] : '' }}
            {{ !this.$store.state.content[this.uuid].target && this.$store.state.content[this.uuid].targetStore && this.$store.state.content[this.uuid].targetName ?  this.$store.state[this.$store.state.content[this.uuid].targetStore][this.$store.state.content[this.uuid].targetName] : '' }}
            {{ !this.$store.state.content[this.uuid].target && !this.$store.state.content[this.uuid].field ? this.$store.state.content[this.uuid].text : ''}}
            <component
                v-for="(uuid, index) in this.$store.state.content[this.uuid].data" 
                :key="index"
                :source="source"
                :record="record"
                :is="this.$store.state.content[uuid].type"
                :uuid="uuid">
            </component>
    </component>
</template>

<script>
    export default {
        props: {
            uuid: {
                type: String,
                default: null
            },
            source: {
                type: String,
                default: null
            },
            record: {
                type: String,
                default: null
            }
        },
        computed: {
            visible() {
                if (this.$store.state.content[this.uuid].conditionalLogic) {
                    for (const [index, func] of this.$store.state.content[this.uuid].conditionalLogic.entries()) {
                        return this.execute(func);
                    }
                } else {
                    return typeof this.$store.state.content[this.uuid].visible == 'undefined' ? true : this.$store.state.content[this.uuid].visible;
                }
            },
            computedTag() {
                return this.$store.state.content[this.uuid].tag ? this.$store.state.content[this.uuid].tag : 'div'
            },
            classes() {
                if (this.$store.state.content[this.uuid].enabled) {
                    return this.$store.state.content[this.uuid].enabledClasses;
                }
                return this.$store.state.content[this.uuid].classes;
            },
            styles() {
                return {
                    minHeight: this.$store.state.content[this.uuid].minHeight + (this.$store.state.content[this.uuid].minHeightUnit ? this.$store.state.content[this.uuid].minHeightUnit : 'px'),
                    minWidth: this.$store.state.content[this.uuid].minWidth + (this.$store.state.content[this.uuid].minWidthUnit ? this.$store.state.content[this.uuid].minWidthUnit : 'px'),
                    height: this.$store.state.content[this.uuid].height + (this.$store.state.content[this.uuid].heightUnit ? this.$store.state.content[this.uuid].heightUnit : 'px'),
                    width: this.$store.state.content[this.uuid].width + (this.$store.state.content[this.uuid].widthUnit ? this.$store.state.content[this.uuid].widthUnit : 'px')
                }
            }
        },
        methods: {
            execute(code) {
                var placeholders = code.match(/\$(.*?)\$/g)
                if (placeholders) {
                    placeholders.forEach(function(placeholder) {
                        var phText = placeholder.substring(1, placeholder.length - 1).split('.');
                        if (typeof this.$store.state[phText[0]][phText[1]] != 'undefined'){
                            var hydrate = this.$store.state[phText[0]][phText[1]];
                            if (hydrate === '') {
                                hydrate = "''";
                            }
                            code = code.replace(placeholder, hydrate);
                        }
                    }.bind(this))
                }
                try {
                    if (typeof this.$store.state.editor != 'undefined' && this.$store.state.editor.debugging) {
                        console.log('Evaluating...', code);
                    }
                    let result = eval(code);
                    if (typeof this.$store.state.editor != 'undefined' && this.$store.state.editor.debugging) {
                        console.log('Result...', result);
                    }
                    return result;
                    //Function('return ' + code)();
                } catch(error) {
                    if (typeof this.$store.state.editor != 'undefined' && this.$store.state.editor.debugging) {
                        console.log('Error...', error);
                    }
                }
            },
            onClick() {
                if (this.$store.state.user.selectUsingCanvas) {
                    this.$store.commit('selectElement', this.$store.state.content[this.uuid].slug);
                }
                this.$store.state.state.lastClicked = this.$store.state.content[this.uuid].slug;
            }
        }
    }
</script>