<template>
    <component
        :is="computedTag"
        :style="[styles]"
        :class="[classes]"
        :id="this.$store.state.content[uuid].id"
        :href="this.$store.state.content[uuid].href"
        :width="this.$store.state.content[uuid].width"
        :height="this.$store.state.content[uuid].height"
        :d="this.$store.state.content[record] && this.$store.state.content[uuid].dField ? this.$store.state.content[record][this.$store.state.content[uuid].dField] : this.$store.state.content[uuid].d"
        :r="this.$store.state.content[uuid].r"
        :pathLength="this.$store.state.content[uuid].pathLength"
        :points="this.$store.state.content[uuid].points"
        :rx="this.$store.state.content[uuid].rx"
        :ry="this.$store.state.content[uuid].ry"
        :cx="this.$store.state.content[uuid].cx"
        :cy="this.$store.state.content[uuid].cy"
        :clip-path="this.$store.state.content[uuid].clipPath"
        :clip-rule="this.$store.state.content[uuid].clipRule"
        :color="this.$store.state.content[uuid].color"
        :color-interpolation="this.$store.state.content[uuid].colorInterpolation"
        :color-rendering="this.$store.state.content[uuid].colorRendering"
        :cursor="this.$store.state.content[uuid].cursor"
        :display="this.$store.state.content[uuid].display"
        :fill="this.$store.state.content[uuid].fill"
        :fill-opacity="this.$store.state.content[uuid].fillOpacity"
        :fill-rule="this.$store.state.content[uuid].fillRule"
        :mask="this.$store.state.content[uuid].mask"
        :opacity="this.$store.state.content[uuid].opacity"
        :pointer-events="this.$store.state.content[uuid].pointerEvents"
        :shape-rendering="this.$store.state.content[uuid].strokeRendering"
        :stroke="this.$store.state.content[uuid].stroke"
        :stroke-width="this.$store.state.content[uuid].strokeWidth"
        :stroke-dasharray="this.$store.state.content[uuid].strokeDasharray"
        :stroke-dashoffset="this.$store.state.content[uuid].strokeDashoffset"
        :stroke-linecap="this.$store.state.content[uuid].strokeLinecap"
        :stroke-linejoin="this.$store.state.content[uuid].stokeLinejoin"
        :stroke-miterlimit="this.$store.state.content[uuid].stokeMiterlimit"
        :stroke-opacity="this.$store.state.content[uuid].strokeOpacity"
        :transform="this.$store.state.content[uuid].transform"
        :vector-effect="this.$store.state.content[uuid].vectorEffect"
        :visibility="this.$store.state.content[uuid].visibility"
        :filter="this.$store.state.content[uuid].filter">
        <component
            v-for="(uuid, index) in this.$store.state.content[uuid].data" 
            :key="index"
            :record="record"
            :source="source"
            :is="this.$store.state.content[uuid].type"
            :uuid="uuid">
        </component>
    </component>
</template>

<script>
	export default {
		props: {
            uuid: {
                type: String,
                default: null
            },
            source: {
                type: String,
                default: null
            },
            record: {
                type: String,
                default: null
            }
        },
		computed: {
            computedTag() {
                return ['path','rect','circle','polygon','use'].includes(this.$store.state.content[this.uuid].tag) ? this.$store.state.content[this.uuid].tag : 'path'
            },
			classes() {
				return this.$store.state.content[this.uuid].classes;
			},
            styles() {
                return {
                    fontFamily: this.$store.state.content[this.uuid].fontFamily,
                    minHeight: this.$store.state.content[this.uuid].minHeight,
                    height: this.$store.state.content[this.uuid].height,
                    backgroundPosition: this.$store.state.content[this.uuid].backgroundPosition,
                    backgroundSize: this.$store.state.content[this.uuid].backgroundSize,
                    backgroundImage: this.$store.state.content[this.uuid].backgroundImage ? 'url(' + this.$store.state.content[this.uuid].backgroundImage + ')' : null
                };
            }
		}
	}
</script>

