<template>
    <div>
        <div id="g_id_onload"
            data-client_id="748673829350-6hqja940saq5tv883oheqbpkkdlorvvg.apps.googleusercontent.com"
            :data-login_uri="googleAuthRedirect"
            data-prompt_parent_id="g_id_onload"
            data-auto_select="false"
            data-cancel_on_tap_outside="false"
            style="position: relative; top: 0px; right: 0px;
                width: auto; height: auto;z-index:1;">
        </div>
    </div>
</template>

<script>
    export default {
        props: ['settings'],
        data () {
            return {
                googleAuthRedirect: null
            }
        },
        beforeMount() {
            this.googleAuthRedirect = window.App.googleAuthRedirect
        }
    }
</script>
