<template>
    <component 
		:is="computedTag"
		:class="[classes, this.$store.state.content[record] && this.$store.state.content[uuid].classField ? this.$store.state.content[record][this.$store.state.content[uuid].classField] : null]"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:id="record && this.$store.state.content[uuid].idField ? this.$store.state.content[record][this.$store.state.content[uuid].idField] : this.$store.state.content[uuid].id"
        :width="record && this.$store.state.content[uuid].widthField ? this.$store.state.content[record][this.$store.state.content[uuid].widthField] : this.$store.state.content[uuid].width"
        :height="record && this.$store.state.content[uuid].heightField ? this.$store.state.content[record][this.$store.state.content[uuid].heightField] : this.$store.state.content[uuid].height"
        :viewBox="record && this.$store.state.content[uuid].viewBoxField ? this.$store.state.content[record][this.$store.state.content[uuid].viewBoxField] : this.$store.state.content[uuid].viewBox"
        :fill="record && this.$store.state.content[uuid].fillField ? this.$store.state.content[record][this.$store.state.content[uuid].fillField] : this.$store.state.content[uuid].fill"
		:stroke="record && this.$store.state.content[uuid].strokeField ? this.$store.state.content[record][this.$store.state.content[uuid].strokeField] : this.$store.state.content[uuid].stroke"
		:stroke-width="record && this.$store.state.content[uuid].strokeWidth ? this.$store.state.content[record][this.$store.state.content[uuid].strokeWidth] : this.$store.state.content[uuid].strokeWidth"
		:preserveAspectRatio="this.$store.state.content[uuid].preserveAspectRatio"
        :aria-labelledby="this.$store.state.content[uuid].name"
        :role="this.$store.state.content[uuid].presentation">
		<defs v-if="this.$store.state.content[uuid].gradient">
			<linearGradient id="tw-gradient" x2="1" y2="1">
				<stop offset="0%" stop-color="var(--tw-gradient-from)" />
				<stop offset="50%" stop-color="var(--tw-gradient-via)" />
				<stop offset="100%" stop-color="var(--tw-gradient-to)" />
			</linearGradient>
		</defs>
		<component
			v-for="(uuid, index) in this.$store.state.content[uuid].data" 
			:key="index"
			:source="source"
			:record="record"
			:is="this.$store.state.content[uuid].type"
			:uuid="uuid">
		</component>
		Sorry, your browser does not support inline SVG.
    </component>
</template>

<script>
	export default {
		props: {
            uuid: {
                type: String,
                default: null
            },
            source: {
                type: String,
                default: null
            },
            record: {
                type: String,
                default: null
            }
        },
		computed: {
			computedTag() {
                return ['svg', 'symbol'].includes(this.$store.state.content[this.uuid].tag) ? this.$store.state.content[this.uuid].tag : 'svg';
            },
			classes() {
				return this.$store.state.content[this.uuid].classes;
			}
		}
	}
</script>

