<template>    
    <component
        v-for="(value, index) in data" 
        :key="index"
        :is="'s-wrapper'"
        :uuid="uuid"
        :record="value"
        :source="this.$store.state.content[uuid].source">
    </component>
</template>

<script>
    export default {
        props: {
            uuid: {
                type: String,
                default: null
            }
        },
        data() {
            return {
                data: []
            }
        },
        methods: {
            hydrate() {
                if (this.$store.state[this.$store.state.content[this.uuid].store]) {
                    this.data = this.$store.state[this.$store.state.content[this.uuid].store][this.$store.state.content[this.uuid].name];
                }
            }
        },
        beforeMount() {
            this.hydrate();
        }
    }
</script>