<template>
    <div :class="classes">
        <header v-if="this.$store.state.page.header" :class="headerClasses">
            <component 
                v-for="(uuid, index) in this.$store.state.page.header" 
                :key="index"
                :is="this.$store.state.content[uuid].type"
                :uuid="uuid">
            </component>
        </header>
        <header v-else-if="this.$store.state.settings.header" :class="headerClasses">
            <component 
                v-for="(uuid, index) in this.$store.state.settings.header" 
                :key="index"
                :is="this.$store.state.content[uuid].type"
                :uuid="uuid">
            </component>
        </header>
        <main v-if="this.$store.state.page.data && this.$store.state.page.data.length">
            <component
                v-for="(uuid, index) in this.$store.state.page.data" 
                :key="index + uuid"
                :is="this.$store.state.content[uuid].type"
                :uuid="uuid">
            </component>
        </main>
        <footer v-if="this.$store.state.page.footer" :class="footerClasses">
            <component 
                v-for="(uuid, index) in this.$store.state.page.footer" 
                :key="index"
                :is="this.$store.state.content[uuid].type"
                :uuid="uuid">
            </component>
        </footer>
        <footer v-else-if="this.$store.state.settings.footer" :class="footerClasses">
            <component 
                v-for="(uuid, index) in this.$store.state.settings.footer" 
                :key="index"
                :is="this.$store.state.content[uuid].type"
                :uuid="uuid">
            </component>
        </footer>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                mouseY: 0
            }
        },
        computed: {
            classes() {
                if (this.$store.state.settings['classes'] && this.$store.state.settings['classes'].length > 0) {
                    return this.$store.state.settings['classes'];
                }
                return this.$store.state.page.classes;
            },
            headerClasses() {
                if (this.$store.state.settings['footerClasses'] && this.$store.state.settings['footerClasses'].length > 0) {
                    return this.$store.state.settings['footerClasses'];
                }
                return this.$store.state.page.footerClasses;
            },
            footerClasses() {
                if (this.$store.state.settings['footerClasses'] && this.$store.state.settings['footerClasses'].length > 0) {
                    return this.$store.state.settings['footerClasses'];
                }
                return this.$store.state.page.footerClasses;
            }
        }
    }
</script>
