<template>
    <div>
        <!-- <s-quickview v-if="editable && settings.editMode" :open="editMode" description="Collect user input." title="Edit Input" @close="closeEditor">
            <s-input
                :editable="false"
                :opts="{placeholder: 'Add text', subtype: 'text'}"
                :settings="settings"
                v-model="items.label">
            </s-input>
            <b-taginput
                v-model="settings.inputClasses"
                :data="filteredTags"
                autocomplete
                icon="label"
                :allow-new="settings.allowNew"
                placeholder="Add a new class"
                @typing="getFilteredTags">
                <template slot-scope="props">
                    {{props.option}}
                </template>
                <template slot="empty">
                    There are no items
                </template>
            </b-taginput>
        </s-quickview> -->
        <label :for="items.name" :class="labelClasses">{{ items.label }}</label>
        <div :class="wrapperClasses">
            <input
                v-if="type !== 'textarea'"
                ref="input"
                :class="inputClasses"
                :type="newType"
                :name="items.name"
                :autocomplete="newAutocomplete"
                :maxlength="items.maxlength"
                :placeholder="items.placeholder"
                v-bind="$attrs"
                v-model="computedValue"
                @blur="onBlur"
                @focus="onFocus">

            <textarea
                v-else
                ref="textarea"
                :class="inputClasses"
                :name="items.name"
                :maxlength="items.maxlength"
                v-bind="$attrs"
                v-model="computedValue"
                @blur="onBlur"
                @focus="onFocus"/>

            <small
                v-if="items.maxlength && items.hasCounter && items.subtype !== 'number'"
                :class="counterClasses">
                {{ valueLength }} / {{ items.maxlength }}
            </small>
        </div>
    </div>
</template>

<script>
    const data = [
        'mr-5'
    ]
    import config from './utils/config'
    import BaseComponentMixin from './utils/BaseComponentMixin'
    import FormElementMixin from './utils/FormElementMixin'
    import { getValueByPath } from './utils/helpers'
    import debounce from 'lodash/debounce';
    export default {
        name: 'SInput',
        provide() {
            return {
                $elementRef: this.items.type === 'textarea'
                    ? 'textarea'
                    : 'input'
            }
        },
        props: {
            editable: {
                type: Boolean,
                default: true
            },
            opts: {
                type: Object,
                default: function () { return {} }
            },
            settings: {
                type: Object,
                default: function () { return {} }
            },
            user: Array,
            formsettings: Object
        },
        mixins: [BaseComponentMixin, FormElementMixin],
        inheritAttrs: false,
        data() {
            return {
                items: {},
                editMode: false,
                type: 'range',
                filteredTags: data,
                passwordStrength: null,
                newValue: null,
                newType: null,
                newAutocomplete: this.autocomplete || getValueByPath(config, 'input.autocompletete', 'off'),
                isPasswordVisible: false
            }
        },
        watch: {
            /**
            * When v-model is changed:
            *   1. Set internal value.
            */
            value(value) {
                this.newValue = this.items.value
            }
        },
        computed: {
            wrapperClasses() {
                let classes = [];
                if (this.items.wrapperClasses) {
                    classes = this.items.wrapperClasses;
                }
                if (this.settings.inputWrapperClasses) {
                    classes = classes.concat(this.settings.inputWrapperClasses);
                }
                return classes;
            },
            labelClasses() {
                let classes = [];
                if (this.items.labelClasses) {
                    classes = this.items.labelClasses;
                }
                if (this.settings.labelClasses) {
                    classes = classes.concat(this.settings.labelClasses);
                }
                return classes;
            },
            inputClasses() {
                let classes = [];
                if (this.items.inputClasses) {
                    classes = this.items.inputClasses;
                }
                else if (this.settings.inputClasses) {
                    classes = classes.concat(this.settings.inputClasses);
                }
                return classes;
            },
            counterClasses() {
                return [
                    this.computedClass('input', 'counterClass', 'o-input-counter'),
                    { [this.computedClass('input', 'counterInvisibleClass', 'o-input-counter-invisible')]: !this.isFocused }
                ]
            },
            checkPassStrength() {
                if (this.items.passwordStrength) {
                    return this.scorePassword(this.items.value);
                }
            },
            computedValue: {
                get() {
                    return this.newValue
                },
                set(value) {
                    this.newValue = value
                    this.items.value = value
                    this.$emit('input', value)
                    !this.isValid && this.checkHtml5Validity()
                }
            },
            valueLength() {
                if (typeof this.computedValue === 'string') {
                    return this.computedValue.length
                } else if (typeof this.computedValue === 'number') {
                    return this.computedValue.toString().length
                }
                return 0
            }
        },
        methods: {
            getFilteredTags(text) {
                this.filteredTags = data.filter((option) => {
                    return option
                        .toString()
                        .toLowerCase()
                        .indexOf(text.toLowerCase()) >= 0
                })
            },
            togglePasswordVisibility() {
                this.items.isPasswordVisible = !this.this.items.isPasswordVisible
                this.newType = this.items.isPasswordVisible ? 'text' : 'password'
                this.$nextTick(() => {
                    this.focus()
                })
            },
            retrieveTargetObject(key) {
                console.log(key)
                if (key == 'user') {
                    this.$set(this, 'targetObject', this.user);
                } else if (key == 'settings') {
                    this.$set(this, 'targetObject', this.settings);
                }
            },
            closeEditor() {
                this.$set(this, 'editMode', false);
            },
            input: debounce(function (text) {
                if (this.user && typeof this.formsettings.method != 'undefined' && this.formsettings.method == 'autosave') {
                    this.$set(this.items, 'loading', true);
                    this.$set(this.items, 'formSlug', this.formsettings.slug);
                    this.$http.post(
                        '/storeField', 
                        this.items,
                        {
                            headers: {
                                'Content-Type': 'application/json',
                            }
                        }
                    ).then(response => {
                        if (response.data.saved) {
                        } else {
                            this.$buefy.toast.open(response.data.response)
                        }
                    }).catch((error) => {
                        this.$buefy.toast.open(response.data.response)
                        throw error
                    });
                    this.$set(this.items, 'loading', false);
                } else {
                    //send up to form ready for complete form submission all at once
                    this.$emit('input', this.items.name, this.items.value);
                }
            }, 500),
            save: debounce(function (text) {
                if (!this.settings.locked) {
                    this.$http.post(
                        '/saveBlock', 
                        this.items,
                        {
                            headers: {
                                'Content-Type': 'application/json',
                            }
                        }
                    ).then(response => {
                        //this.$buefy.toast.open(response.data.response)
                    }).catch((error) => {
                        this.$buefy.snackbar.open(response.data.response)
                        throw error
                    });
                }
            }, 500),
            onBlur() {
                if (this.items.onBlur) {
                    this.$emit('blur', this.items.name, this.items.value);
                }
            },
            onFocus() {
                if (this.settings.editMode) {
                    this.editMode = true;
                }
                if (this.items.onFocus) {
                    this.$emit('focus', this.items.name, this.items.value);
                }
            },
            scorePassword(pass) {
                var score = 0;
                if (!pass)
                    return score;

                // award every unique letter until 5 repetitions
                var letters = new Object();
                for (var i=0; i<pass.length; i++) {
                    letters[pass[i]] = (letters[pass[i]] || 0) + 1;
                    score += 5.0 / letters[pass[i]];
                }

                // bonus points for mixing it up
                var variations = {
                    digits: /\d/.test(pass),
                    lower: /[a-z]/.test(pass),
                    upper: /[A-Z]/.test(pass),
                    nonWords: /\W/.test(pass),
                }

                let variationCount = 0;
                for (var check in variations) {
                    variationCount += (variations[check] == true) ? 1 : 0;
                }
                score += (variationCount - 1) * 10;

                return parseInt(score);
            },
            submit(event) {
                if (this.items.ajaxSubmit && this.items.method == 'post') {
                    event.preventDefault();
                    this.$http.post(
                        this.items.method, 
                        {data: this.items.value},
                        {
                            headers: {
                                'Content-Type': 'application/json',
                            }
                        }
                    ).then(response => {
                        if (this.items.confirm) {
                            this.$buefy.snackbar.open(this.items.confirm)
                        }
                    }).catch((error) => {
                        throw error
                    });
                }
            }
        },
        beforeMount: function () {
            if (this.opts != null) {
                this.items = this.opts;
                this.newValue = this.items.value;
                this.newType = this.items.subtype;
            }
            if (this.items.maxLength) {
                this.items.maxLength = parseFloat(this.items.maxLength);
            }
        }
    }
</script>

<style>
.input {
    box-shadow: none !important;
}
@media screen and (max-width: 320px) {
    .is-small-mobile {
        font-size: 1rem !important;
    }
    .is-small-mobile.input {
        width: 150px;
    }
}
.field-body {
    flex-grow: 2;
}
</style>
