<template>
    <div :class="inputWrapperClasses">
        <input
            v-if="type !== 'textarea'"
            ref="input"
            :class="inputClasses"
            :type="newType"
            :name="items.name"
            :autocomplete="newAutocomplete"
            :maxlength="items.maxlength"
            :placeholder="items.placeholder"
            v-bind="$attrs"
            v-model="computedValue"
            @blur="onBlur"
            @focus="onFocus">

        <textarea
            v-else
            ref="textarea"
            :class="inputClasses"
            :maxlength="items.maxlength"
            :name="items.name"
            v-bind="$attrs"
            v-model="computedValue"
            @blur="onBlur"
            @focus="onFocus"/>

        <b-icon
            v-if="icon"
            class="is-left"
            :class="{'is-clickable': iconClickable}"
            :icon="icon"
            :pack="iconPack"
            :size="iconSize"
            @click.native="iconClick('icon-click', $event)"/>

        <b-icon
            v-if="!this.items.loading && this.items.hasIconRight"
            class="is-right"
            :class="{ 'is-clickable': passwordReveal || iconRightClickable }"
            :icon="rightIcon"
            :pack="iconPack"
            :size="iconSize"
            :type="rightIconType"
            both
            @click.native="rightIconClick"/>

        <small
            v-if="items.maxlength && items.hasCounter && items.subtype !== 'number'"
            :class="counterClasses">
            {{ valueLength }} / {{ items.maxlength }}
        </small>
    </div>
</template>

<script>
    import config from './utils/config'
    import BaseComponentMixin from './utils/BaseComponentMixin'
    import FormElementMixin from './utils/FormElementMixin'
    import Icon from './Icon'
    import { getValueByPath } from './utils/helpers'
    import debounce from 'lodash/debounce'
    export default {
        name: 'SInput',
        provide() {
            return {
                $elementRef: this.type === 'textarea'
                    ? 'textarea'
                    : 'input'
            }
        },
        props: {
            editable: {
                type: Boolean,
                default: true
            },
            opts: {
                type: Object,
                default: function () { return {} }
            },
            settings: {
                type: Object,
                default: function () { return {} }
            },
            user: Array,
            formsettings: Object
        },
        mixins: [BaseComponentMixin, FormElementMixin],
        inheritAttrs: false,
        data() {
            return {
                items: {},
                type: 'range',
                passwordStrength: null,
                newValue: null,
                newType: null,
                newAutocomplete: this.autocomplete || getValueByPath(config, 'input.autocompletete', 'off'),
                isPasswordVisible: false
            }
        },
        watch: {
            /**
            * When v-model is changed:
            *   1. Set internal value.
            */
            value(value) {
                this.newValue = this.items.value
            }
        },
        computed: {
            messageClasses() {
                return [
                    this.computedClass('field', 'messageClass', 'o-field-message'),
                    { [`${this.computedClass('field', 'variantClass', 'o-color-')}${this.newVariant}`]: this.newVariant }
                ]
            },
            inputWrapperClasses() {
                let classes = [];
                if (this.items.inputWrapperClasses) {
                    classes = this.items.inputWrapperClasses;
                }
                if (this.settings.inputWrapperClasses) {
                    classes = classes.concat(this.settings.inputWrapperClasses);
                }
                return classes;
            },
            inputClasses() {
                let classes = [];
                if (this.items.inputClasses) {
                    classes = this.items.inputClasses;
                }
                if (this.items.inputClasses.length == 0 && this.settings.inputClasses) {
                    classes = classes.concat(this.settings.inputClasses);
                }
                return classes;
            },
            labelClasses() {
                let classes = [];
                if (this.items.labelClasses) {
                    classes = this.items.labelClasses;
                }
                if (this.settings.labelClasses) {
                    classes = classes.concat(this.settings.labelClasses);
                }
                return classes;
            },
            counterClasses() {
                return [
                    this.computedClass('input', 'counterClass', 'o-input-counter'),
                    { [this.computedClass('input', 'counterInvisibleClass', 'o-input-counter-invisible')]: !this.isFocused }
                ]
            },
            checkPassStrength() {
                if (this.items.passwordStrength) {
                    return this.scorePassword(this.items.value);
                }
            },
            computedValue: {
                get() {
                    return this.newValue
                },
                set(value) {
                    this.newValue = value
                    this.items.value = value
                    this.$emit('input', value)
                    !this.isValid && this.checkHtml5Validity()
                }
            },
            valueLength() {
                if (typeof this.computedValue === 'string') {
                    return this.computedValue.length
                } else if (typeof this.computedValue === 'number') {
                    return this.computedValue.toString().length
                }
                return 0
            }
        },
        methods: {
            togglePasswordVisibility() {
                this.items.isPasswordVisible = !this.this.items.isPasswordVisible
                this.newType = this.items.isPasswordVisible ? 'text' : 'password'
                this.$nextTick(() => {
                    this.focus()
                })
            },
            input: debounce(function (text) {
                if (this.user && typeof this.formsettings != 'undefined' && this.formsettings.method == 'autosave') {
                    this.$set(this.items, 'loading', true);
                    this.$set(this.items, 'formSlug', this.formsettings.slug);
                    this.$http.post(
                        '/storeField', 
                        this.items,
                        {
                            headers: {
                                'Content-Type': 'application/json',
                            }
                        }
                    ).then(response => {
                        if (response.data.saved) {
                        } else {
                            this.$buefy.toast.open(response.data.response)
                        }
                    }).catch((error) => {
                        this.$buefy.toast.open(response.data.response)
                        throw error
                    });
                    this.$set(this.items, 'loading', false);
                } else {
                    //send up to form ready for complete form submission all at once
                    this.$emit('input', this.items.name, this.items.value);
                }
            }, 500),
            blur() {
                if (this.items.onBlur) {
                    this.$emit('blur', this.items.name, this.items.value);
                }
            },
            focus() {
                if (this.items.onFocus) {
                    this.$emit('focus', this.items.name, this.items.value);
                }
            },
            scorePassword(pass) {
                var score = 0;
                if (!pass)
                    return score;
                // award every unique letter until 5 repetitions
                var letters = new Object();
                for (var i=0; i<pass.length; i++) {
                    letters[pass[i]] = (letters[pass[i]] || 0) + 1;
                    score += 5.0 / letters[pass[i]];
                }
                // bonus points for mixing it up
                var variations = {
                    digits: /\d/.test(pass),
                    lower: /[a-z]/.test(pass),
                    upper: /[A-Z]/.test(pass),
                    nonWords: /\W/.test(pass),
                }
                let variationCount = 0;
                for (var check in variations) {
                    variationCount += (variations[check] == true) ? 1 : 0;
                }
                score += (variationCount - 1) * 10;
                return parseInt(score);
            },
            submit(event) {
                if (this.user && this.items.endpoint && this.items.action == 'post') {
                    event.preventDefault();
                    this.$set(this.items, 'loading', true);
                    this.$http.post(
                        this.items.endpoint, 
                        {data: this.items.value},
                        {
                            headers: {
                                'Content-Type': 'application/json',
                            }
                        }
                    ).then(response => {
                        if (this.items.confirm || response.data.response) {
                            this.$buefy.snackbar.open(this.items.confirm ? this.items.confirm : response.data.response)
                        }
                        this.$set(this.items, 'loading', false);
                    }).catch((error) => {
                        this.$set(this.items, 'loading', false);
                        throw error
                    });
                }
            }
        },
        beforeMount: function () {
            if (this.opts != null) {
                this.items = this.opts;
                this.newValue = this.items.value;
                this.newType = this.items.subtype;
            }
            if (this.items.maxLength) {
                this.items.maxLength = parseFloat(this.items.maxLength);
            }
        }
    }
</script>
