<template>
    <div class="mt-5">
        <label :for="items.name" class="text-xs leading-6 font-medium">{{ items.label }}</label>
        <input type="text" v-if="items.type == 'text' && this.$store.state.content[this.$store.state.editor.currentSelection]" @change="save" @input="save" v-model="this.$store.state.content[this.$store.state.editor.currentSelection][items.field]" :placeholder="items.placeholder" class="bg-gray-800 h-8 block" />
        <input type="checkbox" v-else-if="items.type == 'checkbox' && this.$store.state.content[this.$store.state.editor.currentSelection]" @input="save" v-model="this.$store.state.content[this.$store.state.editor.currentSelection][items.field]" class="block focus:outline-none focus:border-none focus:shadow-none h-4 w-4 text-blue-600 border-gray-300 rounded" />
        <input type="file" v-else-if="items.type == 'file' && this.$store.state.content[this.$store.state.editor.currentSelection]" @change="onFileChange" @input="save" class="p-2 block">
        <select v-else-if="items.type == 'select' && this.$store.state.content[this.$store.state.editor.currentSelection]" class="block text-xs bg-gray-800 h-8" @change="save" v-model="this.$store.state.content[this.$store.state.editor.currentSelection][items.field]">
            <option disabled value="">Please select one</option>
            <option v-for="(option, index) in items.options" :key="index" :value="option">{{ option }}</option>
        </select>
        <div v-else-if="items.type == 'pixel' && this.$store.state.content[this.$store.state.editor.currentSelection]">
            <div class="flex">
                <div class="relative focus-within:z-10 mb-2">
                    <input type="number" style="width: 100px;" @change="save" v-model="this.$store.state.content[this.$store.state.editor.currentSelection][items.field]" :min="items.min" :max="items.max" :placeholder="items.placeholder" class="bg-gray-800 h-8" />
                </div>
                <div class="flex-shrink-0">
                    <select class="block text-xs bg-gray-800 h-8 w-8" @change="save" v-model="this.$store.state.content[this.$store.state.editor.currentSelection][items.field + 'Variable']">
                        <option value="">None</option>
                        <option v-for="(option, index) in this.$store.state.state" :key="index" :value="index">{{ index }}</option>
                    </select>
                </div>
                <div class="flex-shrink-0">
                    <select class="block text-xs bg-gray-800 h-8 w-8" @change="save" v-model="this.$store.state.content[this.$store.state.editor.currentSelection][items.field + 'Unit']">
                        <option value="px">px</option>
                        <option value="rem">rem</option>
                        <option value="em">em</option>
                        <option value="vw">vw</option>
                        <option value="vh">vh</option>
                    </select>
                </div>
            </div>
            <input class="flex" type="range" :min="items.min" :max="items.max" v-model="this.$store.state.content[this.$store.state.editor.currentSelection][items.field]">
        </div>
        <textarea v-else-if="items.type == 'textarea' && this.$store.state.content[this.$store.state.editor.currentSelection]" class="block bg-gray-800" @change="save" v-model="this.$store.state.content[this.$store.state.editor.currentSelection][items.field]"></textarea>
        <input v-else v-model.number="this.$store.state.content[this.$store.state.editor.currentSelection][items.field]" :min="items.min" :step="items.step" :max="items.max" :type="items.type" :placeholder="items.placeholder" class="bg-gray-800 h-8 block" />
    </div>
</template>

<script>
    import debounce from 'lodash/debounce';
    export default {
        props: ['opts'],
        data() {
            return {
                items: {}
            }
        },
        computed: {
            csrf() {
                return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            }
        },
        methods: {
            save: debounce(function () {
                if (!this.$store.state.settings.locked && this.$store.state.content[this.$store.state.editor.currentSelection]) {
                    fetch('saveBlock', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRF-TOKEN': this.csrf
                        },
                        body: JSON.stringify(this.$store.state.content[this.$store.state.editor.currentSelection]),
                    })
                    // .then(data => {
                    //   console.log('Success:', data);
                    // })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
                }
            }, 500),
            onFileChange(event) {
                const value = event.target.files || event.dataTransfer.files;
                if (!this.$store.state.settings.locked) {
                    const config = {
                        headers: { 'this.$store.state.content-type': 'multipart/form-data' }
                    }
                    let data = new FormData();
                    data.append('image', value[0]);
                    this.$http.post(
                        '/storeImageAjax', 
                        data,
                        config
                    ).then(response => {

                    }).catch((error) => {
                        throw error
                    });
                } else {
                    let reader = new FileReader();
                    if (this.this.$store.state.content[this.currentSelection].tag == 'img') {
                    reader.onload = function () {
                        this.$set(this.this.$store.state.content[this.currentSelection], 'src', reader.result)
                    }.bind(this)
                    } else {
                    reader.onload = function () {
                        this.$set(this.this.$store.state.content[this.currentSelection], 'url', reader.result)
                    }.bind(this)
                    }
                    if (value[0]) {
                    reader.readAsDataURL(value[0]);
                    }
                }
            }
        },
        beforeMount: function () {
            if (this.opts != null) {
                this.items = this.opts;
            }
        }
    }
</script>
