<template>
    <div class="mt-5">
        <label :for="items.name" class="text-base leading-6 font-medium text-gray-900">{{ items.label }}</label>
        <select class="max-w-lg block focus:ring-indigo-500 focus:border-indigo-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md" @change="save" v-model="content[source][items.field]">
            <option disabled value="">Please select one</option>
            <option v-for="(option, index) in items.options" :key="index" :value="option">{{ option }}</option>
        </select>
    </div>
</template>


<script>
    import debounce from 'lodash/debounce';
    export default {
        props: ['opts', 'settings', 'content', 'source'],
        data() {
            return {
                items: {}
            }
        },
        methods: {
            save: debounce(function () {
                if (!this.settings.locked) {
                    this.$http.post(
                        '/saveBlock', 
                        this.content[this.source],
                        {
                            headers: {
                                'Content-Type': 'application/json',
                            }
                        }
                    ).then(response => {
                        
                    }).catch((error) => {
                        throw error
                    });
                }
            }, 500)
        },
        beforeMount: function () {
            if (this.opts != null) {
                this.items = this.opts;
            }
        }
    }
</script>
