<template>
    <form class="section" action="/checkout" method="POST">
        <b-field label="Username">
            <b-input 
                v-model="name"
                maxlength="30">
            </b-input>
        </b-field>
        <b-field label="Email">
            <b-input 
                v-model="email"
                type="email"
                value="john@"
                maxlength="30">
            </b-input>
        </b-field>
        <b-field label="Password">
            <b-input type="password"
                v-model="password"
                password-reveal>
            </b-input>
        </b-field>
        <b-field label="Password Confirmation">
            <b-input type="password"
                v-model="password_confirmation"
                password-reveal>
            </b-input>
        </b-field>
        <input type="hidden" v-model="stripeEmail" name="stripeEmail">
        <input type="hidden" v-model="stripeToken" name="stripeToken">
        <select name="plan" v-model="plan">
            <option v-for="(plan, index) in opts.blocks" :key="index" :value="index">
                {{ plan.title }}
            </option>
        </select>
        <button type="submit" @click.prevent="subscribe">Subscribe</button>
    </form>
</template>

<script>
    export default {
        props: ['opts'],
        data() {
            return {
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
                plan: '',
                currency: 'gbp',
                stripeEmail: '',
                stripeToken: ''
            }
        },
        methods: {
            subscribe() {
                let plan = this.findPlanById(this.plan);
                console.log(plan.prices[this.currency][0].price);
                this.stripe.open({
                    name: plan.title,
                    email: this.email,
                    description: plan.description,
                    zipCode: true,
                    currency: this.currency,
                    amount: plan.prices[this.currency][0].price * 100
                });
            },
            findPlanById(id) {
                return this.opts.blocks[id];
            },
            getCookie(name) {
                let cookie = {};
                document.cookie.split(';').forEach(function(el) {
                    let [k,v] = el.split('=');
                    cookie[k.trim()] = v;
                })
                return cookie[name];
            }
        },
        beforeMount() {
            let cookieCurrency = this.getCookie("currency");
            if (cookieCurrency) {
                this.currency = this.getCookie("currency");
            }
        },
        mounted() {
            this.$root.$on('currencyChange', () => {
                this.currency = this.getCookie("currency");
            })
        },
        created() {
            this.stripe = StripeCheckout.configure({
                key: window.App.stripeKey,
                image: "https://stripe.com/img/documentation/checkout/marketplace.png",
                locale: "auto",
                panelLabel: "Subscribe for",
                token: (token) => {
                    this.stripeToken = token.id;
                    this.stripeEmail = token.email;
                    this.$http.post(
                        '/checkout', 
                        this.$data
                    ).then(response => {
                        this.$toast.open(response.data.response)
                    }).catch((error) => {
                        this.$toast.open(response.data.response)
                        throw error
                    });
                }
            });
        }
    }
</script>