<template>
    <div class="mt-5">
        <label :for="items.name" class="text-base leading-6 font-medium text-gray-900">{{ items.label }}</label>
        <input v-if="content[source]" type="file" @change="onFileChange" @input="save" class="p-2 block">
    </div>
</template>

<script>
    import debounce from 'lodash/debounce';
    export default {
        props: ['opts', 'settings', 'content', 'source'],
        data() {
            return {
                items: {}
            }
        },
        methods: {
            save: debounce(function () {
                if (!this.settings.locked) {
                    this.$http.post(
                        '/saveBlock', 
                        this.content[this.source],
                        {
                            headers: {
                                'Content-Type': 'application/json',
                            }
                        }
                    ).then(response => {
                        
                    }).catch((error) => {
                        throw error
                    });
                }
            }, 500),
            onFileChange(event) {
                const value = event.target.files || event.dataTransfer.files;
                if (!this.settings.locked) {
                    const config = {
                        headers: { 'content-type': 'multipart/form-data' }
                    }
                    let data = new FormData();
                    data.append('image', value[0]);
                    this.$http.post(
                        '/storeImageAjax', 
                        data,
                        config
                    ).then(response => {

                    }).catch((error) => {
                        throw error
                    });
                } else {
                    let reader = new FileReader();
                    if (this.content[this.currentSelection].tag == 'img') {
                    reader.onload = function () {
                        this.$set(this.content[this.currentSelection], 'src', reader.result)
                    }.bind(this)
                    } else {
                    reader.onload = function () {
                        this.$set(this.content[this.currentSelection], 'url', reader.result)
                    }.bind(this)
                    }
                    if (value[0]) {
                    reader.readAsDataURL(value[0]);
                    }
                }
            },
        },
        beforeMount: function () {
            if (this.opts != null) {
                this.items = this.opts;
            }
        }
    }
</script>
