<template>
    <div>
        <section class="section has-text-centered">
            <!-- <b-field>
                <b-input 
                    v-model="name" 
                    name="imageAlt" 
                    maxlength="50" 
                    placeholder="Descriptive title e.g. Landscape image of buildings"
                    required>
                </b-input>
            </b-field> -->
            <b-field v-show="files == null">
                <b-upload 
                    v-model="files"
                    :name="items.name"
                    :accept="items.accept"
                    :multiple="items.multiple"
                    drag-drop
                    @input="input">
                    <section class="section">
                        <div class="content has-text-centered">
                            <p>
                                <b-icon
                                    icon="upload"
                                    size="is-large">
                                </b-icon>
                            </p>
                            <p>Drop your {{ items.name }} here or click to upload</p>
                        </div>
                    </section>
                </b-upload>
            </b-field>
            <!-- <s-divider :opts="{value: 'OR'}" :settings="settings"></s-divider>
            <b-field>
                <a v-if="!settings.instagram_posts" class="button" href="https://api.instagram.com/oauth/authorize/?client_id=b590a88f89db46199b963b82e70b74ea&redirect_uri=http://localhost:8080/media-editor&response_type=code&scope=basic">
                    <span>Choose a photo from </span>
                    <b-icon icon="instagram"></b-icon>
                </a>
            </b-field> -->
            <!-- <div v-if="settings.instagram_posts" class="columns is-mobile is-multiline" style="margin: 0px !important;">
                <div 
                    v-for="(item, index) in settings.instagram_posts"
                    :key="index"
                    class="column is-one-third-mobile" 
                    >
                    <figure class="image">
                        <b-icon 
                            class="is-clickable absoluteFavourite is-primary"
                            @click.prevent.native="select(content[item].slug)"
                            :icon="selected == content[item].slug ? 'check-circle' : 'check-circle-outline'">
                        </b-icon>
                        <img :src="content[item].thumbnail" />
                    </figure>
                </div>
            </div> -->
            <!-- <div>
                <div class="card-image" id="preview" :style="{backgroundRepeat: 'no-repeat', backgroundPosition : items.backgroundPosition, backgroundSize: items.imageSize ? 'cover' : 'contain'}">
                    <figure class="image is-4by3">
                    
                    </figure>
                    <figcaption v-if="items.caption">{{items.caption}}</figcaption>
                </div>
            </div> -->

            <!-- <div v-for="(file, index) in files" :key="index">
                <div v-if="files[0].name">
                    <button class="delete is-small"
                            type="button"
                            style="position: absolute;left: 30px;z-index: 9;"
                            @click="deleteDropFile(index)">
                    </button>
                    <figure class="image is-128x128">
                        <img :src="settings.imagePath + files[0].name" />
                    </figure>
                </div>
                <input type="hidden" :value="file.name" name="logo">
            </div> -->
        </section>
        <div v-if="items.multiple" class="tags section" style="justify-content: center;">
            <span v-for="(file, index) in files"
                :key="index"
                class="tag is-primary" >
                {{file.name}}
                <button class="delete is-small"
                    type="button"
                    @click="deleteDropFile(index)">
                </button>
            </span>
        </div>
        <div v-else-if="files" class="tags section">
            <span class="tag is-primary" v-if="files" style="width: 100%;">
                {{ files.name }}
                <button class="delete is-small"
                    type="button"
                    @click="deleteDropFile(0)">
                </button>
            </span>
        </div>
        <section v-if="settings.editMode" style="cursor:pointer;padding: 3px;z-index:1;">
            <b-tag>UPLOAD</b-tag>
        </section>
        <!-- <b-field>
            <b-input 
                v-if="selected"
                v-model="content[selected].caption"
                name="caption" 
                maxlength="50" 
                placeholder="Enter a caption (optional)"
                required>
            </b-input>
            <b-input 
                v-else
                v-model="items.caption" 
                name="caption" 
                maxlength="50" 
                placeholder="Enter a caption (optional)"
                required>
            </b-input>
        </b-field> -->
        <!-- <b-field>
            <a v-if="selected" class="button is-fullwidth" @click="saveInsta">
                <span>Save</span>
            </a>
            <button type="submit" v-else class="button is-fullwidth">
                <span>Save</span>
            </button>
        </b-field> -->
    </div>
</template>

<script>
    export default {
        props: ['opts', 'settings', 'content'],
        data() {
            return {
                items: {},
                imageAlt: '',
                name: '',
                files: null,
                preview: null,
                dropFiles: [],
                selected: null
            }
        },
        methods: {
            select(selection) {
                this.selected = selection;
            },
            saveInsta() {
                this.content[this.selected].imageAlt = this.name;
                this.$http.post(
                    '/store-insta',
                    this.content[this.selected],
                    {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    }
                ).then(response => {
                    this.$buefy.toast.open(response.data.response)
                }).catch((error) => {
                    this.$buefy.toast.open(response.data.response)
                    throw error
                });
            },
            deleteDropFile(index) {
                if (typeof this.files.length != 'undefined') {
                    this.files.splice(index, 1)
                } else {    
                    this.files = null;
                    this.preview.style.backgroundImage = null;
                }
                this.preview.style.display = 'none';
            },
            input(input) {
                if (typeof this.files != null) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        this.preview.style.backgroundImage = 'url(' + reader.result + ')';
                        this.preview.style.display = 'block';
                        //thumb.style.backgroundImage = 'url(' + reader.result + ')';
                    }.bind(this)
                    reader.readAsDataURL(this.files);
                }
            },
            setDirection(position) {
                this.$set(this.items, 'backgroundPosition', position);
            }
        },
        beforeMount: function () {
            if (this.opts != null) {
                this.items = this.opts;
            }
            if (this.items.multiple) {
                this.files = [];
            }
        },
        mounted() {
            if (this.preview) {
                this.preview = document.getElementById('preview');
                this.preview.style.display = 'none';
            }
        }
    }
</script>
