<template>
    <div :ref="items.slug"></div>
    <!-- <div v-else class="text-xs">Please include the google map script as outlined in the <a href="https://developers.google.com/maps/documentation/javascript/adding-a-google-map" class="hover:underline text-indigo-400" target="_blank">documentation.</a></div> -->
</template>

<script>
    export default {
        props: {
            indicator: {
                type: String,
                default: null
            },
            opts: {
                type: Object,
                default: function () { return {} }
            }
        },
        data: function () {
             return {
                 googleMap: null,
                 items: {}
             }
        },

        // data: function () {
        //     return {
        //         RADII: {
        //             km:    6371,
        //             mile:  3960,
        //             meter: 6371000,
        //             nmi:   3440
        //         },
        //         search: '',
        //         radius: 50,
        //         mapName: this.name + "-map",
        //         markerCoordinates: [{
        //             title: 'Asda Thornaby',
        //             latitude: 54.536720,
        //             longitude: -1.293970
        //         }, {
        //             title: 'Egglescliffe School',
        //             latitude: 54.515540,
        //             longitude: -1.353830
        //         }, {
        //             title: 'Riverside Stadium',
        //             latitude: 54.564750,
        //             longitude: -1.227390
        //         }],
        //         map: null,
        //         bounds: null,
        //         markers: [],
        //         directionsService: null,
        //         directionsDisplay: null,
        //         start: null,
        //         end: null,
        //         request: {}
        //     }
        // },
        // methods: {
        //     toRad(num) {
        //         return num * Math.PI / 180
        //     },
        //     haversine (startCoordinates, endCoordinates) {
        //         let R = 'mile' in this.RADII
        //             ? this.RADII['mile']
        //             : this.RADII.km

        //         let start = startCoordinates
        //         let end = endCoordinates

        //         let dLat = this.toRad(end.latitude - start.latitude)
        //         let dLon = this.toRad(end.longitude - start.longitude)
        //         let lat1 = this.toRad(start.latitude)
        //         let lat2 = this.toRad(end.latitude)

        //         let a = Math.sin(dLat/2) * Math.sin(dLat/2) +
        //                 Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2)
        //         let c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a))

        //         return R * c
        //     },
        //     clearLocations() {
        //         for (var i = 0; i < this.markers.length; i++) {
        //             this.markers[i].setMap(null);
        //         }
        //         this.markers.length = 0;
        //         this.search = "";
        //     },
        //     searchLocations() {
        //         var address = this.search;
        //         var geocoder = new google.maps.Geocoder();
        //         geocoder.geocode({address: address}, function(results, status) {
        //             if (status == google.maps.GeocoderStatus.OK) {
        //                 this.clearLocations;
        //                 const element = document.getElementById(this.mapName)
        //                 const options = {
        //                     center: new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng())
        //                 }
        //                 this.map = new google.maps.Map(element, options);

        //                 let locations = this.fetchLocationsNear(results[0].geometry.location);

        //                 locations.forEach((coord) => {
        //                     let currentDistance = this.haversine(
        //                         { 'latitude' : coord.latitude, 'longitude': coord.longitude}, 
        //                         { 'latitude' : results[0].geometry.location.lat(), 'longitude': results[0].geometry.location.lng()}
        //                     )
        //                     if (currentDistance <= this.radius) {
        //                         console.log('coords', coord.latitude, coord.longitude)
        //                         const position = new google.maps.LatLng(coord.latitude, coord.longitude);
        //                         console.log(position)
        //                         const marker = new google.maps.Marker({ 
        //                             position,
        //                             map: this.map
        //                         });
        //                         this.markers.push(marker)
        //                         this.map.fitBounds(this.bounds.extend(position))
        //                     }
        //                 });
        //             } else {
        //                 alert(address + ' not found');
        //             }
        //         }.bind(this));
        //     },
        //     searchLocationsNear(center) {
        //         this.markers.forEach((coord) => {
        //             const position = new google.maps.LatLng(coord.latitude, coord.longitude);
        //             const marker = new google.maps.Marker({ 
        //                 position,
        //                 map: this.map
        //             });
        //             this.markers.push(marker)
        //             this.map.fitBounds(this.bounds.extend(position))
        //         });
        //     },
        //     fetchLocationsNear(url) {
        //         return this.markerCoordinates;
        //         this.data = []
        //         this.isFetching = true
        //         this.$http.get(`/storelocator?lat=${center.lat}&lng=${center.lng}&radius=${center.radius}`)
        //             .then(({ data }) => {
        //                 this.filteredBodies = [];
        //                 if (!data.results.length) {
        //                     data.results = [data.results[1]];
        //                 }
        //                 data.results.forEach((item) => this.filteredBodies.push(item))
        //                 this.isFetching = false
        //             })
        //             .catch((error) => {
        //                 this.isFetching = false
        //                 throw error
        //             })
        //     }
        // },
        beforeMount() {
            if (this.opts != null) {
                this.items = this.opts;
            }
        },
        mounted: function () {
            const uluru = { lat: -25.344, lng: 131.036 };
            console.log('slug', this.items.slug, this.$refs[this.items.slug])
            this.googleMap = new google.maps.Map(this.$refs[this.items.slug], {
                zoom: 4,
                center: uluru,
            });
            // this.bounds = new google.maps.LatLngBounds();
            // this.directionsService = new google.maps.DirectionsService();
            // this.directionsDisplay = new google.maps.DirectionsRenderer();

            // const options = {
            //     center: new google.maps.LatLng(mapCentre.latitude, mapCentre.longitude)
            // }
            // this.map = new google.maps.Map(element, options);
        
            // this.directionsDisplay.setMap(this.map);

            // this.markers.forEach((coord) => {
            //     const position = new google.maps.LatLng(coord.latitude, coord.longitude);
            //     const marker = new google.maps.Marker({ 
            //         position,
            //         map: this.map
            //     });
            //     this.markers.push(marker)
            //     this.map.fitBounds(this.bounds.extend(position))
            // });

            // this.start = 'chicago, il';
            // this.end = 'st louis, mo';
            // this.request = {
            //     origin: this.start,
            //     destination: this.end,
            //     travelMode: 'DRIVING'
            // };
            // this.directionsService.route(this.request, function(result, status) {
            //     if (status == 'OK') {
            //         this.directionsDisplay.setDirections(result);
            //     }
            // }.bind(this));
        }
    };
</script>