<template>
    <component v-if="(!items.data && this.content[this.items.source]) || (typeof items.data != 'undefined' && items.data.length == 0) && this.content[this.items.source]" :class="classes" :is="items.tag ? items.tag : 'div'">
        <component
            v-for="(record, index) in this.content[this.items.source].data" 
            :key="index"
            :is="content[record] && items.typeField ? content[record][items.typeField] : items.tag"
            :ref="items.ref"
            :opts="content[record]"
            :record="record"
            :content="content"
            :name="content[record] && items.nameField ? content[record][items.nameField] : items.name"
            :value="content[record] && items.valueField  ? content[record][items.valueField] : items.value"
            :src="content[record] && items.srcField  ? content[record][items.srcField] : items.src"
            :for="content[record] && items.forField ? content[record][items.forField] : items.for"
            :label="content[record] && items.labelField  ? content[record][items.labelField] : items.label"
            :id="content[record] && items.idField  ? content[record][items.idField] : items.id"
            :alt="content[record] && items.altField ? content[record][items.altField] : items.alt"
            :download="content[record] && items.downloadField ? content[record][items.downloadField] : items.download"
            :referrerpolicy="content[record] && items.referrerpolicyField  ? content[record][items.referrerpolicyField] : items.referrerpolicy"
            :type="content[record] && items.subtypeField  ? content[record][items.subtypeField] : items.subtype"
            :href="content[record] && items.hrefField  ? content[record][items.hrefField] : items.href"
            :rel="content[record] && items.relField  ? content[record][items.relField] : items.rel"
            :target="content[record] && items.targetField  ? content[record][items.targetField] : items.target"
            :title="content[record] && items.titleField  ? content[record][items.titleField] : items.title"
            :class="[content[record] && items.classField ? content[record][items.classField] : null, {'border border-red-400': indicator == items.slug}]">
        </component>
    </component>
    <component v-else-if="source.length" :class="classes" :is="items.tag ? items.tag : 'div'">
        <component
            v-for="(record, index) in source" 
            :key="index"
            :is="items.innerTag ? items.innerTag : 'div'"
            :ref="items.ref"
            :name="content[record] && items.nameField ? content[record][items.nameField] : items.name"
            :value="content[record] && items.valueField  ? content[record][items.valueField] : items.value"
            :src="content[record] && items.srcField  ? content[record][items.srcField] : items.src"
            :for="content[record] && items.forField ? content[record][items.forField] : items.for"
            :label="content[record] && items.labelField  ? content[record][items.labelField] : items.label"
            :id="content[record] && items.idField  ? content[record][items.idField] : items.id"
            :alt="content[record] && items.altField ? content[record][items.altField] : items.alt"
            :download="content[record] && items.downloadField ? content[record][items.downloadField] : items.download"
            :referrerpolicy="content[record] && items.referrerpolicyField  ? content[record][items.referrerpolicyField] : items.referrerpolicy"
            :type="content[record] && items.subtypeField  ? content[record][items.subtypeField] : items.subtype"
            :href="content[record] && items.hrefField  ? content[record][items.hrefField] : items.href"
            :rel="content[record] && items.relField  ? content[record][items.relField] : items.rel"
            :target="content[record] && items.targetField  ? content[record][items.targetField] : items.target"
            :title="content[record] && items.titleField  ? content[record][items.titleField] : items.title"
            :class="items.innerClasses">
            {{ typeof items.field != 'undefined' ? content[record][items.field] : items.text }}
            <component
                v-for="(item, index) in items.data" 
                :key="index"
                :content="content"
                :record="record"
                :source="items.source"
                :body="body"
                :indicator="indicator"
                :settings="settings"
                :is="content[item].type"
                :opts="content[item]">
            </component>
        </component>
    </component>
</template>

<script>
    export default {
        props: {
            record: {
                type: String,
                default: null
            },
            entity: {
                type: [Object, Array],
                default: null
            },
            attributeselection: {
                type: Array,
                default: () => []
            },
            indicator: {
                type: String,
                default: null
            },
            opts: {
                type: Object,
                default: function () { return {} }
            },
            user: {
                type: Object,
                default: function () { return {} }
            },
            body: {
                type: Object,
                default: function () { return {} }
            },
            state: {
                type: Object,
                default: function () { return {} }
            },
            settings: {
                type: Object,
                default: function () { return {} }
            },
            content: {
                type: [Object, Array],
                default: function () { return {} }
            }
        },
        data() {
            return {
                items: {},
                currentPage: 0,
                totalPages: 0,
                totalItems: 0,
                offset: null,
                startIndex: null,
                endIndex: null,
                source: []
            }
        },
        watch: {
            content: {
                handler(val){
                    if (this.content[this.items.source] && this.content[this.items.source].offset) {
                        this.setPage();
                    }
                    if (this.items.displayValueLength && this.items.watch && this.content[this.items.watch]) {
                        this.$set(this.items, 'text', this.content[this.items.watch].value.length);
                    }
                    if (this.content[this.items.watch] && this.items.targetField) {
                        this.$set(this.items, this.items.targetField, this.content[this.items.watch][this.items.targetField]);
                    }
                    this.$forceUpdate();
                },
                deep: true
            }
        },
        methods: {
            fetchData() {
                this.$http.get(`/fetchPage?siteid=${this.user.site_id}&source=${this.items.source}&currentPage=${this.items.currentPage}&offset=${this.items.offset}`)
                    .then(({ data }) => {
                        this.$set(this.content, this.items.source, {});
                        let keys = Object.keys(data);
                        keys.forEach((item) => {
                            this.$set(this.content, item, data[item]);
                        });
                        this.$set(this.content[this.items.source], 'data', keys);
                        this.$forceUpdate();
                    })
                    .catch((error) => {
                        this.$set(this.content[this.items.source], 'data', []);
                        throw error
                    })
                if (typeof(Storage) !== "undefined") {
                    //sessionStorage.setItem(this.items.slug, this.items.currentPage);
                }
            },
            async storefront() {
                const query = `query Products {
                    products(first:1) {
                        edges {
                            node {
                                id
                                title
                            }
                        }
                    }
                }`;
                const variables = {};
                const response = await fetch('https://yaketyshop.myshopify.com/api/2021-07/graphql.json', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/JSON",
                        "X-Shopify-Storefront-Access-Token": '716cad71a16862c0829ad3180981e814',

                    },
                    body: JSON.stringify({query, variables})
                });
                return response.json(); 
            },
            async getProducts() {
                let { data } = await this.storefront();
                console.log(data);
                data.products.edges.map((item) => {
                    console.log(item);
                    this.$set(this.content, item.node.id, item.node);
                });
            },
            setPage() {
                this.totalPages = Math.ceil(this.content[this.items.source].total / this.offset);
                this.currentPage = this.content[this.items.source].current;
                this.startIndex = (this.currentPage - 1) * this.offset;
                if ((this.startIndex +  this.offset) > this.totalItems) {
                    this.endIndex = this.totalItems;
                } else {
                    this.endIndex = Math.min(this.startIndex + this.offset, this.totalItems - 1);
                }
                this.$set(this.content[this.items.source], 'startIndex', this.startIndex + 1);
                this.$set(this.content[this.items.source], 'endIndex', this.endIndex);
                this.source = this.content[this.items.source].data.slice(this.startIndex, this.endIndex);
            }
        },
        computed: {
            computedTag() {
                return this.items.tag ? this.items.tag : 'div'
            },
            classes() {
                if (this.settings[this.items.type] && this.settings[this.items.type].length > 0) {
                    return this.settings[this.items.type];
                }
                return this.items.classes;
            }
        },
        beforeMount: function () {
            if (this.opts != null) {
                this.items = this.opts;
            }
            if (typeof(Storage) !== "undefined") {
                if (sessionStorage.object) {
                    if (sessionStorage[this.items.slug]) {
                        this.items.currentPage = sessionStorage[this.items.slug];
                    }
                }  
            }
            if (this.content[this.items.source] && this.content[this.items.source].offset) {
                this.offset = this.content[this.items.source].offset;
                this.totalItems = this.content[this.items.source].total;
                this.setPage();
            } else {
                this.source = this.content[this.items.source].data;
            }
        },
        mounted: function () {
            if (this.items.async && !this.content[this.items.source] && !this.items.sourceField) {
                // this.content[this.items.source] = {};
                // this.$set(this.content[this.items.source], 'data', []);
                this.fetchData();
                this.$root.$on('nextPage', (item) => {
                    if (item.target == this.items.slug && ((this.items.offset * (this.items.currentPage + 1)) <= this.content[this.items.source].data.length)) {
                        this.items.currentPage++;
                        this.fetchData();
                    } else {
                        alert('You have reached the last result.');
                    }
                });
                this.$root.$on('previousPage', (item) => {
                    if (item.target == this.items.slug) {
                        this.items.currentPage--;
                        this.fetchData();
                    }
                });
            } else if (this.items.storefrontId) {
                this.getProducts();
            }
        }
    }
</script>