<template>    
    <component
        v-if="this.$store.state.content[this.$store.state.content[this.uuid].source]"
        v-for="(record, index) in this.$store.state.content[this.$store.state.content[this.uuid].source].data" 
        :key="index"
        :is="'s-wrapper'"
        :uuid="uuid"
        :record="record"
        :source="this.$store.state.content[this.uuid].source">
    </component>
</template>

<script>
    export default {
        props: {
            uuid: {
                type: String,
                default: null
            }
        },
        data() {
            return {
                currentPage: 0,
                totalPages: 0,
                totalItems: 0,
                offset: null,
                startIndex: null,
                endIndex: null,
                source: []
            }
        },
        methods: {
            // fetchData() {
            //     this.$http.get(`/fetchPage?siteid=${this.user.site_id}&source=${this.$store.state.content[this.uuid].source}&currentPage=${this.$store.state.content[this.uuid].currentPage}&offset=${this.$store.state.content[this.uuid].offset}`)
            //         .then(({ data }) => {
            //             this.$set(this.$store.state.content, this.$store.state.content[this.uuid].source, {});
            //             let keys = Object.keys(data);
            //             keys.forEach((item) => {
            //                 this.$set(this.$store.state.content, item, data[item]);
            //             });
            //             this.$set(this.$store.state.content[this.$store.state.content[this.uuid].source], 'data', keys);
            //             this.$forceUpdate();
            //         })
            //         .catch((error) => {
            //             this.$set(this.$store.state.content[this.$store.state.content[this.uuid].source], 'data', []);
            //             throw error
            //         })
            //     if (typeof(Storage) !== "undefined") {
            //         //sessionStorage.setItem(this.$store.state.content[this.uuid].slug, this.$store.state.content[this.uuid].currentPage);
            //     }
            // },
            async fetchData({url, method, headers, accept}) {
                await fetch(url, {
                    method: method,
                    accept: accept,
                    headers: headers
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    //data.forEach((item) => console.log(item))
                });
            },
            async storefront() {
                const query = `query Products {
                    products(first:1) {
                        edges {
                            node {
                                id
                                title
                            }
                        }
                    }
                }`;
                const variables = {};
                const response = await fetch('https://yaketyshop.myshopify.com/api/2021-07/graphql.json', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/JSON",
                        "X-Shopify-Storefront-Access-Token": '716cad71a16862c0829ad3180981e814',

                    },
                    body: JSON.stringify({query, variables})
                });
                return response.json(); 
            },
            async getProducts() {
                let { data } = await this.storefront();
                console.log(data);
                data.products.edges.map((item) => {
                    this.$store.state.content[item.node.id] = item.node;
                });
            },
            getPage() {
                this.totalPages = Math.ceil(this.$store.state.content[this.$store.state.content[this.uuid].source].total / this.offset);
                this.currentPage = this.$store.state.content[this.$store.state.content[this.uuid].source].current;
                this.startIndex = (this.currentPage - 1) * this.offset;
                if ((this.startIndex +  this.offset) > this.totalItems) {
                    this.endIndex = this.totalItems;
                } else {
                    this.endIndex = Math.min(this.startIndex + this.offset, this.totalItems - 1);
                }
                this.source = this.$store.state.content[this.$store.state.content[this.uuid].source].data.slice(this.startIndex, this.endIndex);
            }
        },
        beforeMount: function () {
            if (typeof(Storage) !== "undefined") {
                if (sessionStorage.object) {
                    if (sessionStorage[this.$store.state.content[this.uuid].slug]) {
                        this.$store.state.content[this.uuid].currentPage = sessionStorage[this.$store.state.content[this.uuid].slug];
                    }
                }  
            }
            if (this.$store.state.content[this.$store.state.content[this.uuid].source] && this.$store.state.content[this.$store.state.content[this.uuid].source].offset) {
                this.offset = this.$store.state.content[this.$store.state.content[this.uuid].source].offset;
                this.totalItems = this.$store.state.content[this.$store.state.content[this.uuid].source].total;
                this.setPage();
            }
            //this.$store.state.content[this.$store.state.content[this.uuid].source].original = this.$store.state.content[this.$store.state.content[this.uuid].source].data.slice();
        },
        mounted: function () {
            if (this.$store.state.content[this.uuid].async && !this.$store.state.content[this.$store.state.content[this.uuid].source] && !this.$store.state.content[this.uuid].sourceField) {
                // this.this.$store.state.content[this.$store.state.content[this.uuid].source] = {};
                // this.$set(this.this.$store.state.content[this.$store.state.content[this.uuid].source], 'data', []);
                this.fetchData();
                // this.$root.$on('nextPage', (item) => {
                //     if (item.target == this.$store.state.content[this.uuid].slug && ((this.$store.state.content[this.uuid].offset * (this.$store.state.content[this.uuid].currentPage + 1)) <= this.this.$store.state.content[this.$store.state.content[this.uuid].source].data.length)) {
                //         this.$store.state.content[this.uuid].currentPage++;
                //         this.fetchData();
                //     } else {
                //         alert('You have reached the last result.');
                //     }
                // });
                // this.$root.$on('previousPage', (item) => {
                //     if (item.target == this.$store.state.content[this.uuid].slug) {
                //         this.$store.state.content[this.uuid].currentPage--;
                //         this.fetchData();
                //     }
                // });
            } else if (this.$store.state.content[this.uuid].storefrontId) {
                this.getProducts();
            }
            this.fetchData(this.$store.state.content[this.uuid]);
        }
    }
</script>