<template>
    <component
        :is="computedTag"
        :style="[styles, clipPath, backgroundImage, backgroundSize, backgroundRepeat, backgroundColour, backgroundPosition]"
        :ref="this.$store.state.content[uuid].slug"
        :src="record && this.$store.state.content[uuid].srcField ? this.$store.state.content[record][this.$store.state.content[uuid].srcField] : this.$store.state.content[uuid].src"
        :class="[classes, {'border border-red-400': typeof this.$store.state.editor != 'undefined' && this.$store.state.editor.currentIndicator == this.$store.state.content[uuid].slug}]"
        @click="animate">
            {{ record && typeof this.$store.state.content[this.uuid].field != 'undefined' ? this.$store.state.content[record][this.$store.state.content[this.uuid].field] : '' }}
            {{ this.$store.state.content[this.uuid].target && this.$store.state.content[this.uuid].targetStore && this.$store.state.content[this.uuid].targetName ? this.$store.state[this.$store.state.content[this.uuid].targetStore][this.$store.state.content[this.uuid].target][this.$store.state.content[this.uuid].targetName] : '' }}
            {{ !this.$store.state.content[this.uuid].target && this.$store.state.content[this.uuid].targetStore && this.$store.state.content[this.uuid].targetName ?  this.$store.state[this.$store.state.content[this.uuid].targetStore][this.$store.state.content[this.uuid].targetName] : '' }}
            {{ !this.$store.state.content[this.uuid].target && !record ? this.$store.state.content[this.uuid].text : ''}}
            <component
                v-for="(uuid, index) in this.$store.state.content[uuid].data" 
                :key="index"
                :source="source"
                :record="record"
                :is="this.$store.state.content[uuid].type"
                :uuid="uuid">
            </component>
    </component>
</template>

<script>
    export default {
        props: {
            uuid: {
                type: String,
                default: null
            },
            source: {
                type: String,
                default: null
            },
            record: {
                type: String,
                default: null
            }
        },
        data() {
            return {
                animation: null
            }
        },
        watch: {
            '$store.state.content': {
                deep: true,
                handler() {
                    this.animate();
                }
            }
        },
        computed: {
            computedTag() {
                return this.$store.state.content[this.uuid].tag ? this.$store.state.content[this.uuid].tag : 'div'
            },
            classes() {
                return this.$store.state.content[this.uuid].classes;
            },
            styles() {
                return {
                    minHeight: (this.$store.state.state[this.$store.state.content[this.uuid].minHeightVariable] ? this.$store.state.state[this.$store.state.content[this.uuid].minHeightVariable] : this.$store.state.content[this.uuid].minHeight) + (this.$store.state.content[this.uuid].minHeightUnit ? this.$store.state.content[this.uuid].minHeightUnit : 'px'),
                    minWidth: (this.$store.state.state[this.$store.state.content[this.uuid].minWidthVariable] ? this.$store.state.state[this.$store.state.content[this.uuid].minWidthVariable] : this.$store.state.content[this.uuid].minWidth) + (this.$store.state.content[this.uuid].minWidthUnit ? this.$store.state.content[this.uuid].minWidthUnit : 'px'),
                    height: (this.$store.state.state[this.$store.state.content[this.uuid].heightVariable] ? this.$store.state.state[this.$store.state.content[this.uuid].heightVariable] : this.$store.state.content[this.uuid].height) + (this.$store.state.content[this.uuid].heightUnit ? this.$store.state.content[this.uuid].heightUnit : 'px'),
                    width: (this.$store.state.state[this.$store.state.content[this.uuid].widthVariable] ? this.$store.state.state[this.$store.state.content[this.uuid].widthVariable] : this.$store.state.content[this.uuid].width) + (this.$store.state.content[this.uuid].widthUnit ? this.$store.state.content[this.uuid].widthUnit : 'px'),
                    top: (this.$store.state.state[this.$store.state.content[this.uuid].topVariable] ? this.$store.state.state[this.$store.state.content[this.uuid].topVariable] : this.$store.state.content[this.uuid].top) + (this.$store.state.content[this.uuid].topUnit ? this.$store.state.content[this.uuid].topUnit : 'px'),
                    bottom: (this.$store.state.state[this.$store.state.content[this.uuid].bottomVariable] ? this.$store.state.state[this.$store.state.content[this.uuid].bottomVariable] : this.$store.state.content[this.uuid].bottom) + (this.$store.state.content[this.uuid].bottomUnit ? this.$store.state.content[this.uuid].bottomUnit : 'px'),
                    right: (this.$store.state.state[this.$store.state.content[this.uuid].rightVariable] ? this.$store.state.state[this.$store.state.content[this.uuid].rightVariable] : this.$store.state.content[this.uuid].right) + (this.$store.state.content[this.uuid].rightUnit ? this.$store.state.content[this.uuid].rightUnit : 'px'),
                    left: (this.$store.state.state[this.$store.state.content[this.uuid].leftVariable] ? this.$store.state.state[this.$store.state.content[this.uuid].leftVariable] : this.$store.state.content[this.uuid].left) + (this.$store.state.content[this.uuid].leftUnit ? this.$store.state.content[this.uuid].leftUnit : 'px'),
                    borderRadius: (this.$store.state.state[this.$store.state.content[this.uuid].borderRadiusVariable] ? this.$store.state.state[this.$store.state.content[this.uuid].borderRadiusVariable] : this.$store.state.content[this.uuid].borderRadius) + (this.$store.state.content[this.uuid].borderRadiusUnit ? this.$store.state.content[this.uuid].borderRadiusUnit : 'px'),
                    opacity: (this.$store.state.state[this.$store.state.content[this.uuid].opacityVariable] ? this.$store.state.state[this.$store.state.content[this.uuid].opacityVariable] : this.$store.state.content[this.uuid].opacity),
                    transform: this.$store.state.content[this.uuid].transform && this.$store.state.content[this.uuid].transformType ? this.$store.state.content[this.uuid].transformType + '(' + this.$store.state.content[this.uuid].transformState ? this.state[this.$store.state.content[this.uuid].transformState] + (this.$store.state.content[this.uuid].transformUnit ? this.$store.state.content[this.uuid].transformUnit : 'px') : this.$store.state.content[this.uuid].transform + (this.$store.state.content[this.uuid].transformUnit ? this.$store.state.content[this.uuid].transformUnit : 'deg') + ')' : false
                }
            },
            clipPath() {
                let clipPathString = '';
                if (this.$store.state.content[this.uuid].clipSource && this.$store.state.content[this.uuid].clipDefinition) {
                    clipPathString += this.$store.state.content[this.uuid].clipSource;
                    clipPathString += '(';
                    clipPathString += this.$store.state.content[this.uuid].clipDefinition;
                    clipPathString += ')';
                }
                let clipPath = {'clip-path': clipPathString};
                return clipPath;
                //clip-path:polygon(0 0,100% 0,100% 100%)
            },
            backgroundImage() {
                if (this.$store.state.content[this.uuid].backgroundImage) {
                    return {backgroundImage: `url(${this.$store.state.content[this.uuid].backgroundImage})`};
                }
            },
            backgroundSize() {
                let backgroundSize = '';
                if (this.$store.state.content[this.uuid].backgroundSize1 && this.$store.state.content[this.uuid].backgroundSize2) {
                    backgroundSize += this.$store.state.content[this.uuid].backgroundSize1 + ' ' + this.$store.state.content[this.uuid].backgroundSize2;
                    if (this.$store.state.content[this.uuid].backgroundSize3 && this.$store.state.content[this.uuid].backgroundSize4) {
                        backgroundSize += ', ' + this.$store.state.content[this.uuid].backgroundSize3 + ' ' + this.$store.state.content[this.uuid].backgroundSize4;
                    }
                } else if (this.$store.state.content[this.uuid].backgroundSize) {
                     backgroundSize = this.$store.state.content[this.uuid].backgroundSize;
                } else {
                     backgroundSize = 'cover';
                }
                return {backgroundSize: backgroundSize};
            },
            backgroundRepeat() {
                return {backgroundRepeat: this.$store.state.content[this.uuid].backgroundRepeat};
            },
            backgroundColour() {
                return {backgroundColour:this.$store.state.content[this.uuid].backgroundColour};
            },
            backgroundPosition() {
                let positions = '';
                if (this.$store.state.content[this.uuid].backgroundGradient) {
                    if (Array.isArray(this.$store.state.content[this.uuid].backgroundGradient)) {
                        this.$store.state.content[this.uuid].backgroundGradient.forEach(function (gradient, idx) {
                            if (gradient.backgroundPosition1 && gradient.backgroundPosition2) {
                                positions += gradient.backgroundPosition1 + ' ' + gradient.backgroundPosition2;
                            }
                            if (idx !== this.$store.state.content[this.uuid].backgroundGradient.length - 1) {
                                positions += ', ';
                            }
                        }.bind(this));
                    }
                } else {
                    positions = {backgroundPosition: this.$store.state.content[this.uuid].backgroundPosition};
                }
                return positions;
            },
            backgroundGradient() {
                let styles = {};
                if (this.$store.state.content[this.uuid].backgroundGradient) {
                    if (Array.isArray(this.$store.state.content[this.uuid].backgroundGradient)) {
                        let gradients = '';
                        this.$store.state.content[this.uuid].backgroundGradient.forEach(function (gradient, idx) {
                            if (gradient.repeating) {
                                gradients += 'repeating-'
                            }
                            if (gradient.type == 'radial') {
                                gradients += 'radial'
                            } else {
                                gradients += 'linear'
                            }
                            gradients += '-gradient(';
                            if (gradient.backgroundLinearGradientAngle) {
                                gradients += gradient.backgroundLinearGradientAngle.toString() + gradient.backgroundLinearGradientAngleMeasure + ',';
                            }
                            if (gradient.shape) {
                                gradients += gradient.shape + ' ';
                            }
                            if (gradient.backgroundRadialExtent) {
                                gradients += gradient.backgroundRadialExtent + ' ';
                            }
                            if (gradient.backgroundRadialPosition1 && gradient.backgroundRadialPosition2) {
                                gradients += ` at ${gradient.backgroundRadialPosition1} ${gradient.backgroundRadialPosition2}, `;
                            } else if (gradient.backgroundRadialExtent) {
                                gradients += ', ';
                            }
                            if (Array.isArray(gradient.colourStops) && gradient.colourStops.length > 1) {
                                gradient.colourStops.forEach(function (colourStop, colourStopIdx) {
                                    gradients += colourStop.colour +  (typeof colourStop.stop != 'undefined' ? ' ' + colourStop.stop : '');
                                    if (colourStopIdx !== gradient.colourStops.length - 1) {
                                        gradients += ', ';
                                    }
                                });
                            }
                            gradients += ')';
                            if (gradient.coordinates && gradient.coordinates.x && gradient.coordinates.y) {
                                gradients += ' ' + gradient.coordinates.x + ' ' + gradient.coordinates.y + ' / ';
                            }
                            if (gradient.coordinates && gradient.coordinates.width && gradient.coordinates.height) {
                                gradients += ' ' + gradient.coordinates.width + ' ' + gradient.coordinates.height;
                            }
                            if (idx !== this.$store.state.content[this.uuid].backgroundGradient.length - 1){
                                gradients += ', ';
                            }
                        }.bind(this));
                        //console.log(gradients)
                        styles['background'] = gradients;
                    }
                } else if (this.$store.state.content[this.uuid].src) {
                    styles['background-image'] = 'url(' + this.$store.state.content[this.uuid].src + ')';
                    this.$forceUpdate();
                }
                return styles;
            }
        },
        methods: {
            animate() {
                this.$nextTick(() => {
                    this.animation = this.$refs[this.$store.state.content[this.uuid].slug].animate(
                        this.$store.state.content[this.uuid].keyframes,
                        this.$store.state.content[this.uuid].timing
                    );
                });
            },
            play() {
                if (this.animation) {
                    this.animation.play();
                }
            },
            pause() {
                if (this.animation) {
                    this.animation.pause();
                }
            }
        },
        beforeMount: function () {
            if (this.$store.state.content[this.uuid].observe) {
                this.$store.state.content[this.uuid].id = this.$store.state.content[this.uuid].slug;
                this.$store.state.content[this.uuid].classes.push('observe');
            }
        },
        mounted() {
            if (this.$store.state.content[this.uuid].keyframes) {
                this.animate();
            }
        }
    }
</script>