<template>
    <form
        :action="record && this.$store.state.content[uuid].actionField ? this.$store.state.content[record][this.$store.state.content[uuid].actionField] : this.$store.state.content[uuid].action" 
        :method="record && this.$store.state.content[uuid].methodField ? this.$store.state.content[record][this.$store.state.content[uuid].methodField] : this.$store.state.content[uuid].method" 
        :enctype="record && this.$store.state.content[uuid].enctypeField ? this.$store.state.content[record][this.$store.state.content[uuid].enctypeField] : this.$store.state.content[uuid].enctype" 
        :id="record && this.$store.state.content[uuid].id ? this.$store.state.content[record][this.$store.state.content[uuid].id] : this.$store.state.content[uuid].id"
        :class="[classes, {'border border-red-400': typeof this.$store.state.editor != 'undefined' && this.$store.state.editor.currentIndicator == this.$store.state.content[uuid].slug}]">
        <input type="hidden" name="_token" :value="csrf">
        <component
            v-for="(uuid, index) in this.$store.state.content[uuid].data" 
            :key="index"
            :source="source"
            :record="record"
            :is="this.$store.state.content[uuid].type"
            :uuid="uuid">
        </component>
    </form>
</template>

<script>
    export default {
        props: {
            uuid: {
                type: String,
                default: null
            },
            record: {
                type: String,
                default: null
            },
            source: {
                type: String,
                default: null
            }
        },
        computed: {
            csrf() {
                return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            },
            classes() {
                return this.$store.state.content[this.uuid].classes;
            }
        }
    }
</script>