<template>
    <component
        v-show="typeof this.$store.state.content[uuid].visible == 'undefined' ? true : this.$store.state.content[uuid].visible"
        :style="[styles]"
        :class="[classes, {'border border-red-400': typeof this.$store.state.editor != 'undefined' && this.$store.state.editor.currentIndicator == this.$store.state.content[uuid].slug}]"
        :is="computedTag"
        :ref="this.$store.state.content[uuid].slug"
        :maxlength="record && this.$store.state.content[uuid].maxlengthField ? this.$store.state.content[record][this.$store.state.content[uuid].maxlengthField] : this.$store.state.content[uuid].maxlength"
        :max="record && this.$store.state.content[uuid].maxField ? this.$store.state.content[record][this.$store.state.content[uuid].maxField] : this.$store.state.content[uuid].max"
        :pattern="record && this.$store.state.content[uuid].patternField ? this.$store.state.content[record][this.$store.state.content[uuid].patternField] : this.$store.state.content[uuid].pattern"
        :minlength="record && this.$store.state.content[uuid].minlengthField ? this.$store.state.content[record][this.$store.state.content[uuid].minlengthField] : this.$store.state.content[uuid].minlength"
        :min="record && this.$store.state.content[uuid].minField ? this.$store.state.content[record][this.$store.state.content[uuid].minField] : this.$store.state.content[uuid].min"
        :rows="record && this.$store.state.content[uuid].rowsField ? this.$store.state.content[record][this.$store.state.content[uuid].rowsField] : this.$store.state.content[uuid].rows"
        :size="record && this.$store.state.content[uuid].sizeField ? this.$store.state.content[record][this.$store.state.content[uuid].sizeField] : this.$store.state.content[uuid].size"
        :accept="record && this.$store.state.content[uuid].autofocusField ? this.$store.state.content[record][this.$store.state.content[uuid].autofocusField] : this.$store.state.content[uuid].list"
        :autofocus="record && this.$store.state.content[uuid].autofocusField ? this.$store.state.content[record][this.$store.state.content[uuid].autofocusField] : this.$store.state.content[uuid].autofocus"
        :list="record && this.$store.state.content[uuid].listField ? this.$store.state.content[record][this.$store.state.content[uuid].listField] : this.$store.state.content[this.$store.state.content[uuid].slug].list"
        :disabled="record && this.$store.state.content[uuid].disabledField ? this.$store.state.content[record][this.$store.state.content[uuid].disabledField] : this.$store.state.content[this.$store.state.content[uuid].slug].list"
        :step="record && this.$store.state.content[uuid].stepField ? this.$store.state.content[record][this.$store.state.content[uuid].stepField] : this.$store.state.content[uuid].step"
        :required="record && this.$store.state.content[uuid].requiredField ? this.$store.state.content[record][this.$store.state.content[uuid].requiredField] : this.$store.state.content[uuid].required"
        :placeholder="record && this.$store.state.content[uuid].placeholderField ? this.$store.state.content[record][this.$store.state.content[uuid].placeholderField] : this.$store.state.content[uuid].placeholder"
        :autocomplete="record && this.$store.state.content[uuid].autocompleteField ? this.$store.state.content[record][this.$store.state.content[uuid].autocompleteField] : this.$store.state.content[uuid].autocomplete"
        :type="computedType"
        :href="record && this.$store.state.content[uuid].hrefField ? this.$store.state.content[record][this.$store.state.content[uuid].hrefField] : this.$store.state.content[uuid].href"
        :name="record && this.$store.state.content[uuid].nameField ? this.$store.state.content[record][this.$store.state.content[uuid].nameField] : this.$store.state.content[uuid].name" 
        :id="record && this.$store.state.content[uuid].idField ? this.$store.state.content[record][this.$store.state.content[uuid].idField] : this.$store.state.content[uuid].id"
        :checked="this.$store.state.content[record] && this.$store.state.content[uuid].checkedField ? this.$store.state.content[record][this.$store.state.content[uuid].checkedField] : this.$store.state.content[uuid].checked"
        @input="onInput"
        @change.stop="onChange"
        @keyup="onKeyUp"
        @blur="onBlur"
        @focus="onFocus" 
        @dblclick.stop="onDblClick"
        @click.stop="onClick"
        @mouseover="onMouseOver"
        @mouseleave="onMouseLeave">
        {{ record && typeof this.$store.state.content[uuid].field != 'undefined' ? this.$store.state.content[record][this.$store.state.content[uuid].field] : '' }}
        {{ this.$store.state.content[uuid].target && this.$store.state.content[uuid].targetStore && this.$store.state.content[uuid].targetName ? this.$store.state[this.$store.state.content[uuid].targetStore][this.$store.state.content[uuid].target][this.$store.state.content[uuid].targetName] : '' }}
        {{ !this.$store.state.content[uuid].target && this.$store.state.content[uuid].targetStore && this.$store.state.content[uuid].targetName ?  this.$store.state[this.$store.state.content[uuid].targetStore][this.$store.state.content[uuid].targetName] : '' }}
        {{ !this.$store.state.content[uuid].target && !record ? this.$store.state.content[uuid].text : ''}}
        <component
            v-for="(item, index) in this.$store.state.content[uuid].data" 
            :key="index"
            :source="source"
            :record="record"
            :is="this.$store.state.content[item].type"
            :uuid="item">
        </component>
    </component>
</template>

<script>
    import debounce from 'lodash/debounce';
    export default {
        props: {
            uuid: {
                type: String,
                default: null
            },
            record: {
                type: String,
                default: null
            },
            source: {
                type: String,
                default: null
            }
        },
        computed: {
            computedTag() {
                return this.record && this.$store.state.content[this.uuid].tagField ? this.$store.state.content[this.record][this.$store.state.content[this.uuid].tagField] : this.$store.state.content[this.uuid].tag;
            },
            computedType() {
                if (this.computedTag == 'select') {
                    return false;
                }
                return this.record && this.$store.state.content[this.uuid].inputTypeField ? this.$store.state.content[this.record][this.$store.state.content[this.uuid].inputTypeField] : this.$store.state.content[this.uuid].inputType
            },
            classes() {
                if (this.$store.state.content[this.uuid].enabled) {
                    return this.$store.state.content[this.uuid].enabledClasses;
                }
                return this.$store.state.content[this.uuid].classes;
            },
            styles() {
                return {
                    fontFamily: typeof this.$store.state.content[this.uuid].fontFamily != 'undefined' ? this.$store.state.content[this.uuid].fontFamily : null
                };
            }
        },
        methods: {
            async methodFactory(event) {
                if (this.event && this.$store.state.content[this.uuid][this.event]) {
                    for (const [index, func] of this.$store.state.content[this.uuid][this.event].entries()) {
                        if (this.$store.state.content[this.uuid][func] && this.$store.state.content[this.uuid][func][index]) {
                            if (this.record) {
                                this.$store.state.content[this.uuid][func][index].record = this.record;
                            }
                            this.$store.state.content[this.uuid][func][index].value = this.$store.state.content[this.uuid].value ? this.$store.state.content[this.uuid].value : event.target.value;
                            if (typeof this.$store.state.content[this.uuid][func][index].name == 'undefined') {
                                this.$store.state.content[this.uuid][func][index].name = this.$store.state.content[this.uuid].name ? this.$store.state.content[this.uuid].name : '';
                            }
                            await this.$store.commit(func, this.$store.state.content[this.uuid][func][index]);
                        } else {
                            await this.runCommand(func);
                        }
                    }
                }
                this.event = null;
            },
            async runCommand(func) {
                let command = func.split(' ');
                let result = null;
                let conditionResult = true;
                if (command.length == 5) {
                    let condition = command.shift();
                    conditionResult = await this.execute(condition);
                    if (conditionResult) {
                        command = command.slice(0,2);
                    } else {
                        command = command.slice(2,4);
                    }
                }
                if (command.length == 3) {
                    let condition = command.shift();
                    conditionResult = await this.execute(condition);
                    if (!conditionResult) {
                        return;
                    }
                }
                if (command.length == 2) {
                    result = await this.execute(command[1]);
                    var lhs = null;
                    if (command[0][0] == '$') {
                        lhs = command[0].substring(1, command[0].length - 1).split('.');
                    } else {
                        lhs = command[0].split('.');
                    }
                    if (lhs[2]) {
                        this.$store.commit('assign', {value: result, targetStore: lhs[0] , target: lhs[1], targetName: lhs[2]});
                    } else {
                        this.$store.commit('assign', {value: result, targetStore: lhs[0], targetName: lhs[1]});
                    }
                } else if (conditionResult) {
                    let result = this.execute(command[0]);
                }
            },
            execute(code) {
                var placeholders = code.match(/\$(.*?)\$/g)
                if (placeholders) {
                    placeholders.forEach(function(placeholder) {
                        var phText = placeholder.substring(1, placeholder.length - 1).split('.');
                        if (phText[2]) {
                            var hydrate = this.$store.state[phText[0]][phText[1]][phText[2]];
                            if (hydrate == '') {
                                hydrate = "''";
                            }
                            if (Array.isArray(this.$store.state[phText[0]][phText[1]][phText[2]])) {
                                hydrate = JSON.stringify(this.$store.state[phText[0]][phText[1]][phText[2]])
                            }
                            code = code.replace(placeholder, hydrate);
                        } else if (typeof this.$store.state[phText[0]][phText[1]] != 'undefined'){
                            var hydrate = this.$store.state[phText[0]][phText[1]];
                            if (hydrate == '') {
                                hydrate = "''";
                            }
                            if (Array.isArray(this.$store.state[phText[0]][phText[1]])) {
                                hydrate = JSON.stringify(this.$store.state[phText[0]][phText[1]])
                            } 
                            code = code.replace(placeholder, hydrate);
                        }
                    }.bind(this))
                }
                try {
                    if (typeof this.$store.state.editor != 'undefined' && this.$store.state.editor.debugging) {
                        console.log('Evaluating...', code);
                    }
                    let result = eval(code);
                    if (typeof this.$store.state.editor != 'undefined' && this.$store.state.editor.debugging) {
                        console.log('Result...', result);
                    }
                    return result;
                    //Function('return ' + code)();
                } catch(error) {
                    if (typeof this.$store.state.editor != 'undefined' && this.$store.state.editor.debugging) {
                        console.log('Error...', error);
                    }
                }
            },
            onDblClick(event) {
                this.event = 'onDblClick';
                this.methodFactory(event);
            },
            onKeyUp(event) {
                this.event = 'onKeyUp';
                if (event.keyCode == this.$store.state.content[this.uuid].keyCode) {
                    this.methodFactory(event);
                }
            },
            onBlur(event) {
                this.event = 'onBlur';
                this.methodFactory(event);
            },
            onInput: debounce(function (event) {
                this.event = 'onInput';
                // if (this.$store.state.content[this.uuid].filter) {
                //     const queryString = window.location.search;
                //     const urlParams = new URLSearchParams(queryString);
                //     const allFilters = urlParams.getAll('filters');
                //     let explodedFilters = [];
                //     if (allFilters.length) {
                //         explodedFilters = allFilters[0].split(',');
                //         let index = explodedFilters.indexOf(this.$store.state.content[this.record].slug);
                //         //console.log('explodedFilters', explodedFilters)
                //         if (index == -1) {
                //             explodedFilters.push(this.$store.state.content[this.record].slug);
                //         } else {
                //             explodedFilters.splice(index, 1);
                //         }
                //         urlParams.set('filters', explodedFilters);
                //     } else {
                //         urlParams.set('filters', this.$store.state.content[this.record].slug);
                //     }
                //     if (this.$store.state.content[this.uuid].useAjax) {
                //         var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?' + urlParams.toString();
                //         window.history.pushState({path: newurl}, '', newurl);
                //         this.$root.$emit('fetchEntities', urlParams.toString());
                //     } else {
                //         window.location.search = urlParams.toString();
                //     }
                // }
                this.methodFactory(event);
            }, 500),
            onChange(event) {
                this.event = 'onChange';
                this.methodFactory(event);
            },
            onFocus(event) {
                this.event = 'onFocus';
                this.methodFactory(event);
            },
            onMouseOver(event) {
                this.event = 'onMouseOver';
                this.methodFactory(event);
            },
            onMouseLeave(event) {
                this.event = 'onMouseLeave';
                this.methodFactory(event);
            },
            onClick(event) {
                console.log('onClick')
                this.event = 'onClick';
                if (this.$store.state.user.selectUsingCanvas) {
                    this.$store.commit('selectElement', this.$store.state.content[uuid].slug);
                }
                this.$store.state.state.lastClicked = this.$store.state.content[this.uuid].slug;
                this.methodFactory(event);
            }
        },
        mounted() {
            this.event = 'mounted';
            this.methodFactory();
        }
    }
</script>
