<template>
    <component
        :style="[styles]"
        :is="computedTag"
        :src="record && this.$store.state.content[this.uuid].srcField ? this.$store.state.content[record][this.$store.state.content[this.uuid].srcField] : this.$store.state.content[this.uuid].src"
        :controls="!this.$store.state.content[this.uuid].disableControls"
        :playsinline="this.$store.state.content[this.uuid].playsinline" 
        :autoplay="this.$store.state.content[this.uuid].autoplay" 
        :preload="this.$store.state.content[this.uuid].preload" 
        :muted="this.$store.state.content[this.uuid].muted" 
        :loop="this.$store.state.content[this.uuid].loop"
        :class="classes">
        <component
            v-for="(uuid, index) in this.$store.state.content[this.uuid].data" 
            :key="index"
            :source="source"
            :record="record"
            :is="this.$store.state.content[uuid].type"
            :uuid="uuid">
        </component>
    </component>
</template>

<script>
    export default {
        props: {
            uuid: {
                type: String,
                default: null
            },
            source: {
                type: String,
                default: null
            },
            record: {
                type: String,
                default: null
            }
        },
        computed: {
            computedTag() {
                return this.$store.state.content[this.uuid].tag ? this.$store.state.content[this.uuid].tag : 'div'
            },
            classes() {
                return this.$store.state.content[this.uuid].classes;
            },
            styles() {
                return {
                    minHeight: this.$store.state.content[this.uuid].minHeight + (this.$store.state.content[this.uuid].minHeightUnit ? this.$store.state.content[this.uuid].minHeightUnit : 'px'),
                    minWidth: this.$store.state.content[this.uuid].minWidth + (this.$store.state.content[this.uuid].minWidthUnit ? this.$store.state.content[this.uuid].minWidthUnit : 'px'),
                    height: this.$store.state.content[this.uuid].height + (this.$store.state.content[this.uuid].heightUnit ? this.$store.state.content[this.uuid].heightUnit : 'px'),
                    width: this.$store.state.content[this.uuid].width + (this.$store.state.content[this.uuid].widthUnit ? this.$store.state.content[this.uuid].widthUnit : 'px')
                }
            }
        },
        mounted: function() {
            if (this.$store.state.content[this.uuid].autoplay) {
                var videos = document.getElementsByClassName('autoplay');
                for (var i = 0; i < videos.length; i++) {
                    videos[i].muted = true;
                    videos[i].play();
                }
            }
        }
    }
</script>
