<template>
    <transition-group
        :tag="computedTag"
        :class="[classes, this.$store.state.content[record] && this.$store.state.content[this.uuid].classField ? this.$store.state.content[record][this.$store.state.content[this.uuid].classField] : null]"
        :enter-active-class="enterActiveClasses"
        :enter-from-class="enterFromClasses"
        :enter-to-class="enterToClasses"
        :leave-active-class="leaveActiveClasses"
        :leave-from-class="leaveFromClasses"
        :leave-to-class="leaveToClasses">
        <component
            v-for="(uuid, index) in this.$store.state.content[uuid].data" 
            :key="index"
            :source="source"
            :record="record"
            :is="this.$store.state.content[uuid].type"
            :uuid="uuid">
        </component>
    </transition-group>
</template>

<script>
    export default {
        props: {
            uuid: {
                type: String,
                default: null
            },
            source: {
                type: String,
                default: null
            },
            record: {
                type: String,
                default: null
            }
        },
        data() {
            return {
                items: {},
                data: [],
                timer: null,
                currentItem: 0,
                currentTransition: null
            }
        },
        computed: {
            enterFromClasses() {
                if (this.$store.state.content[this.uuid].enterFromClasses) {
                    return this.$store.state.content[this.uuid].enterFromClasses.join(' ');
                }
            },
            enterActiveClasses() {
                if (this.$store.state.content[this.uuid].enterActiveClasses) {
                    return this.$store.state.content[this.uuid].enterActiveClasses.join(' ');
                }
            },
            enterToClasses() {
                if (this.$store.state.content[this.uuid].enterToClasses) {
                    return this.$store.state.content[this.uuid].enterToClasses.join(' ');
                }
            },
            leaveFromClasses() {
                if (this.$store.state.content[this.uuid].leaveFromClasses) {
                    return this.$store.state.content[this.uuid].leaveFromClasses.join(' ');
                }
            },
            leaveActiveClasses() {
                if (this.$store.state.content[this.uuid].leaveActiveClasses) {
                    return this.$store.state.content[this.uuid].leaveActiveClasses.join(' ');
                }
            },
            leaveToClasses() {
                if (this.$store.state.content[this.uuid].leaveToClasses) {
                    return this.$store.state.content[this.uuid].leaveToClasses.join(' ');
                }
            },
            computedTag() {
                return this.$store.state.content[this.uuid].tag ? this.$store.state.content[this.uuid].tag : 'div'
            },
            classes() {
                return this.$store.state.content[this.uuid].classes;
            }
        }
    }
</script>